[2020-05-30 02:25] batuhansahan commented on #117
found interesting solution. it's kinda statusbar related problem i think.

So i have 3 solutions, let me know which one is worked.

**Note**: Make sure re launch app, and don't use emulator. at least restart the emulator than try again.

### SOLUTION 1
`import {... ,StatusBar} from 'react-native`

paste the code top of the componentDidMount or useEffect
[code]

### SOLUTION 2
removing the JitsiMee

[2020-05-30 02:36] batuhansahan commented on #117
found interesting solution. it's kinda statusbar related problem i think.  i am using the solution 1 and its working in release/debug build with no problem.

The main idea of these solutions is hiding statusbar manually causes the black screen. So i tried show statusbar first and then JitsiMeet hides the statusbar.

So i have 3 solutions, let me know which one is worked.

**Note**: Make sure re la

[2020-05-30 02:41] Mayank8290 commented on #117
What is your react native version ?

[2020-05-30 02:43] batuhansahan commented on #117
can you please use `@username`

rn version 0.61.5

[2020-05-30 21:33] SeveHo opened #167 "Frameworks missing in apps deployed by CI tool"
Hi,

I have a problem providing my application to Testflight when archiving, signing and distributing it with an automated build tool like Bitrise, Nevercode or Fastlane.

I also know that it is probably a problem related to my app setup and not directly related to this module but I thought maybe someone around here also faced this issue before and knows how to deal with it .

So the app runs prop

[2020-05-31 08:10] deepakverma4 commented on #101
in ```node_modules/react-native-jitsi-meet/android/src/main/java/com/reactnativejitsimeet/RNJitsiMeetModule.java```

in line 60 add below line

[code]

[2020-06-01 04:06] baotoan1905 commented on #117
@batuhansahan none of them work for me, it doesn't work at the first time install app in release mode as well as first time install app for debugging. From the second time onward it works fine.

[2020-06-01 04:08] batuhansahan commented on #117
@baotoan1905
please share your dependencies and minimal code of your conference page

[2020-06-01 05:35] baotoan1905 commented on #117
@batuhansahan I tried again few more times and figured out that at the first time joining call, it takes longer than the second time onward to join the call (I saw black screen without any indicator for a while so I thought it doesn't work but actually it works :D just take time). So your second solution works great, solution 1 and 3 don't work for me. I just need to add loading indicator to let u

[2020-06-02 08:35] baotoan1905 opened #168 "Proguard configuration ?"
Hi guys,
I'm facing app crash issue in release mode, it works fine in debug mode. Did anyone encounter it before? Here is the error
It only happens when proguard is enabled to build release, without proguard it works fine.

[code]
[code]

I'm using
[code]

[2020-06-02 09:32] baotoan1905 commented on #168
ok guys, I found it in jitsi meet sdk,
Issue is fixed.
[https://github.com/jitsi/jitsi-meet/blob/master/android/app/proguard-rules.pro](https://github.com/jitsi/jitsi-meet/blob/master/android/app/proguard-rules.pro)

[2020-06-02 09:32] #168 closed

[2020-06-04 01:03] zhezui928 opened #169 "JitsiMeetView Black Screen Issue in Android"
I checked similar issue closed, but it didn't help me,
https://github.com/skrafft/react-native-jitsi-meet/issues/88
My package dependencies are as follows:
 "dependencies": {
    "@dooboo-ui/native-switch-toggle": "^0.4.1",
    "@dudigital/react-native-zoomable-view": "^1.0.15",
    "@react-native-community/async-storage": "^1.10.0",
    "@react-native-community/image-editor": "^2.3.0",
    "@reac

[2020-06-04 13:22] RNTop opened #170 "TypeError JitsiMeetView.call() in react native 62.2"
Getting TypeError with JitsiMeetView.call
![image](https://user-images.githubusercontent.com/51260671/83761872-7e927f00-a63c-11ea-90d1-d93a99a1c965.png)

[2020-06-04 13:24] RNTop commented on #170
even I can see app.bundle outputted , they are saying it is coming from app.bundle. of course. I've make sure about app.bundle setting in build.gradle. but I didn't solve this for over 10days.

[2020-06-04 13:28] RNTop commented on #133
Yes, I changed the gargle build tools to 3.4.2, but getting this issue continuously.

[2020-06-04 21:31] shakerhussain commented on #169
I faced similar issue,

[2020-06-07 14:28] Punit-Vajpeyi opened #171 "App Crash In Release mode"
Application Crashing:

06-07 21:03:46.860 23017 23115 E ReactNativeJS: TypeError: Cannot read property 'call' of null
06-07 21:03:46.862 23017 23115 E ReactNativeJS: Invariant Violation: Module AppRegistry is not a registered callable module (calling runApplication)
--------- beginning of crash
06-07 21:03:46.868 23017 23116 E AndroidRuntime: FATAL EXCEPTION: mqt_native_modules
06-07 21:03:46.868

[2020-06-08 07:45] davenlin19 commented on #122
I have the same problem. How could you fix that?

[2020-06-08 07:47] davenlin19 commented on #122
I tried on a real android but it is still happening. I thought it was a problem of emulator but it does not.

[2020-06-08 09:39] tvanhuu commented on #80
Thank you. It worked <3

[2020-06-08 09:46] davenlin19 commented on #122
For who are having the same problem. These events are fired on production but aren't in development, even when you run with release option:
`react-native run-android --variant=release`

[2020-06-09 03:51] baotoan1905 commented on #169
Duplicated. Check this [comment](https://github.com/skrafft/react-native-jitsi-meet/issues/117#issuecomment-636263779)
Solution 2 works for me.

[2020-06-09 04:16] deepakverma4 opened #172 "app crashes on join meeting with minSdk 21"
application works fine with ```minSdkVersion = 24``` but if i lower the  ```minSdkVersion = 21``` it crashes on join meeting.
I want my app to be available to most of the users. Any guess why is it crashing?

[2020-06-09 16:10] matschiner opened #173 "Running on iOS 13.3.5 devices fails but simulator works"
Hi,
I have created a new React Native project (currently react-native 0.62.2, react 16.11.0, react-native-jitsi-meet 2.1.1) on my Mac with 10.14.6 and Xcode 11.3, so I did:
[code]
I have then edited the Bitcode -> No part (which was already no for the debug build) and selected my iPhone 8 and hit run.
It installs the app and tries to run it but then Xcode aborts with the following message (while t

[2020-06-10 08:25] FazilMuhammed opened #174 "Running in Mobile can I access direct to toggle camera from screen react native jitsiMeet"
React native version : '0.62.0'
Device: iOS Mobile

any possible to get toggle camera Directly in Mobile currently way to get three dots in Right side I need Bypass this camera

anyone know please help me....

[2020-06-10 08:36] FazilMuhammed commented on #132
@batuhansahan can you tell me where located this file. I implemented react-native-jitsimeet installation everything fine. running real device I need access toggle camera directly is it possible?
can you please help me

[2020-06-11 04:19] sikemullivan opened #175 "Jwt Token - Connects, but no audio or video"
Does this project support connecting with JWT? Others that are using Chrome, can see that users from the mobile app are connected, but there is no video or audio.

[2020-06-11 05:58] sikemullivan commented on #175
I think this may have been due to a bandwidth issue? I updated the server to turn of the "adaptive quality adjustment".

[code]

[2020-06-11 06:59] sikemullivan commented on #175
I can periodically get the android devices to work, but no luck with iOS.

[2020-06-11 12:31] adamthewan commented on #90
@peererror it would be helpful if you updated us about how you solved the issue...

[2020-06-11 12:34] adamthewan commented on #123
I am experiencing the same error with no luck solving this

[2020-06-11 12:37] ArthurDelbeke commented on #90
I no longer remember the nature of the problem, but if it concerns SVG, I solved this problem by ignoring the react-native-jitsi-meet package

[code]

[2020-06-11 12:37] adamthewan commented on #123
Guys, I used Solution 2 that this guy mentioned, and it solved my issue:
https://github.com/skrafft/react-native-jitsi-meet/issues/117#issuecomment-636263779

[2020-06-11 12:53] sivakavipondybiz commented on #116
@baotoan1905
I tried with your suggestion but got same error

dependencies {
        classpath("com.android.tools.build:gradle:3.5.2")
        classpath 'com.google.gms:google-services:4.3.3'
        // NOTE: Do not place your application dependencies here; they belong
        // in the individual module build.gradle files
    }

"@react-native-community/netinfo": "^5.0.0",

[2020-06-11 13:23] gaurav-psych opened #176 "DisplayName remains same after re join . Android only."
The display name of the user remains same even if we change the name , after re joining the application. Faced this in android only, in IOS it's working perfectly.

`import React, {useEffect} from 'react';
import {View, Text} from 'react-native';
import JitsiMeet, {JitsiMeetView} from 'react-native-jitsi-meet';

const JitsiMeetCall = props => {
  useEffect(() => {

    let userName = props.route.p

[2020-06-11 14:50] sikemullivan commented on #175
My Jitsi server is hosted on, apparently I missed some settings. I guess the mobile apps use UDP and I didn't have the firewalls open.

https://github.com/jitsi/jitsi-meet/issues/267#issuecomment-258703429

[2020-06-11 14:50] #175 closed

[2020-06-12 11:45] sivakavipondybiz commented on #134
Same issue

i hide the status bar form this screen and when the video screen open then the whole app have one more status bar in android and all screens contain space from the top

[2020-06-12 16:51] anantkrd commented on #55
App crashing on JitsiMeet.call(url,userInfo);
any one found this crash solution for react native i am using version 0.62.2

[2020-06-12 16:54] vickyramz commented on #55
Maybe you app crashing happening because of BIND Telecom permission in
android... You should change sdk version  under
nodemodule/react-native-jitsi/android/app/build.gradle
There you need to change jitsi sdk version

On Fri, 12 Jun, 2020, 10:22 PM anantkrd, <notifications@github.com> wrote:

[2020-06-14 13:30] tmjordan commented on #103
@SeveHo Hi, can you please explain what exactly you did for react-native-info.
I still have an issue:
[code]

[2020-06-14 13:32] tmjordan commented on #103
@SeveHo can you share some code please?

[2020-06-14 21:41] tmjordan commented on #94
Hi @skrafft, thanks for this awesome library. I applied the fix for codepush, and my app is running well now. But it looks like codepush is not working anymore. My app does not receive codepush updates anymore. Can you help me please
[code]

[2020-06-17 11:51] iboy15 commented on #172
same here,
any idea ?
there are many library still didn't support minSdkVersion 24 (eg react-native-svg, react-native-netinfo) etc...

[2020-06-17 12:03] grifotv commented on #39
@hnrqsss did you manage to make it work for Android and iOS?

[2020-06-17 17:10] hnrqsss commented on #39
yes i did

[2020-06-21 11:21] kodcuserkan commented on #1
Hi @skrafft  here is my problem can you pls take a look? https://stackoverflow.com/questions/62487532/react-native-jitsi-meet-null-is-not-an-object-evaluating-jitsimeetmodule-call

[2020-06-22 13:44] hnrqsss opened #177 "Is there anyway to hide some functions"
Hello first i'd like you for this project!

Is there anyway to hide chat and the option buttons?

[2020-06-23 15:32] vrizawahyu22 commented on #172
same with me, can we downgrade minSdkVersion? For example like minSdkVersion = 16.

[2020-06-25 09:14] deepakverma4 commented on #172
it working on minSdk 21 with gradle 3.4.2
just downgrade gradle inside your ```project/build.gradle``` to

```classpath("com.android.tools.build:gradle:3.4.2")```

[2020-06-25 14:33] Punit-Vajpeyi opened #178 "After adding this module other modules are not working"
After adding this module following packages are not working:

- react-native-firebase
- react-native-svg
- @react-native-community/netinfo

I am using
- react 16.11.0
- react-native 0.62.2
- react-native-jitsi-meet 2.1.1

Can you please, thanks in advance. Please let me know if you need the logcat.

[2020-06-26 16:21] vrizawahyu22 commented on #172
OK thanks. I have changed gradle to 3.42 and minSdk 21 but still not working. Any sugesstion to fix this issue?

[2020-06-26 16:29] vrizawahyu22 commented on #172
I use `react-native: 0.62.2` and `react-native-jitsi-meet: 2.1.1`

[2020-06-26 16:34] vrizawahyu22 commented on #150
Same issue. I will run with minSdk version 21. But not working. Any idea?

[2020-06-27 22:21] eskiesirius opened #179 "Placing this call will end your *** call"
I followed the example and put an action inside this listener onConferenceTerminated, when i ended the call open the VC again.. "Placing this call will end your *** call" prompt

[2020-06-28 14:17] vrizawahyu22 commented on #133
Hi @aayush123 . I have changed gradle build tools to 3.4.2 but still not working. I want to use minSdkVersion 21 because i want to expand to users jellybean. I use `react-native-jitsi-meet: 2.1.1` and `react-native: 0.62.2`.
what version of react-native do you use?

[2020-06-29 09:01] Punit-Vajpeyi commented on #156
@AdemOch I am also facing the same issue. Can you please help me with the steps to resolve this issue.

[2020-06-29 11:36] RicardoDolNL opened #180 "Apple Store Review background modes"
My app was denied by Apple because it makes use of UIBackgroundModes viop like the readme says i need to add to info.plist.

[code]

[2020-06-29 18:43] davenlin19 commented on #103
@tmjordan
Please try: `exclude group: 'com.facebook.react',module:'react-native-community_netinfo'`. It should works!

[2020-07-01 10:07] #178 closed

[2020-07-01 10:08] #171 closed

[2020-07-01 18:30] davenlin19 commented on #156
Me too, please @AdemOch

[2020-07-01 20:29] tmjordan commented on #156
@AdemOch  i think you should replace the implementation line.
Here is what i used:
[code]

If you still have that error, it will mean there is another RN package that you need to exclude.

[2020-07-01 20:31] tmjordan commented on #156
@davenlin19 @Punit-Vajpeyi you just have to exclude the rn package which conflicts with react-native-jitsi-meet

[2020-07-01 20:34] tmjordan commented on #156
@AdemOch you should exclude package from implementation "project(':react-native-jitsi-meet')"   and not in ('org.jitsi.react:jitsi-meet-sdk:2.6.0') .

implementation ('org.jitsi.react:jitsi-meet-sdk:2.6.0')
||
=>
implementation (project(':react-native-jitsi-meet'))

[2020-07-01 20:49] davenlin19 commented on #156
@tmjordan you've saved my life, thank you very much. I just don't understand why I need to exclude `react-native-google-signin` but I installed `@react-native-community/google-signin`.
I tried 'react-native-community_google-signin' but it didn't work.
Thank you again @tmjordan

[2020-07-01 21:23] tmjordan commented on #156
@davenlin19 Glad to help. It seems that package (```@react-native-community/google-signin```) reference to ```react-native-google-signin```. And that name is already used by the library ```react-native-jitsi-meet```. So you need to exlude it, in order to avoid conflict.
To find the correct name of the package to exclude, you need to display the dependencies used by the library.
You can do that by

[2020-07-02 10:11] wahidin32 opened #181 "How to hidden bottom button jisti view ?"
[ASK]
I wanna ask how to hide/remove this bottom control => https://prnt.sc/tacxdy,

because i'm using custom button for end the jitsi video conference.

Thanks in advanced. ^^

[2020-07-02 17:07] rgbedin commented on #176
I had the same issue. In order to fix that I forked this project and did this change on RNJitsiMeetViewManager.java

<img width="726" alt="Screen Shot 2020-07-02 at 1 06 59 PM" src="https://user-images.githubusercontent.com/3408428/86389858-ff0cc580-bc64-11ea-99a3-e9315931a6e1.png">

[2020-07-03 08:08] davenlin19 commented on #156
Thanks

[2020-07-03 21:12] eskiesirius commented on #85
hello.. im still having this issue..

[2020-07-04 08:38] arioki1 commented on #181
To resolve this issue you cannot use [org.jitsi.react:jitsi-meet-sdk ](https://github.com/jitsi/jitsi-meet) from Jitsi, you must modify from the official GitHub Jitsi-meet and deploy Android and iOS Jitsi-meet your own SDK and use it [here](https://github.com/skrafft/react-native-jitsi-meet/blob/master/android/build.gradle#L48) for android and iOS I do not know

[2020-07-04 08:44] arioki1 commented on #181
For documentation to deploy the Jitsi SDK you can refer to this [document](https://jitsi.github.io/handbook/docs/dev-guide/dev-guide-android-sdk#build-and-use-your-own-sdk-artifactsbinaries)
script build sdk for [Android](https://github.com/jitsi/jitsi-meet/blob/master/android/scripts/release-sdk.sh) [IOS](https://github.com/jitsi/jitsi-meet/blob/master/ios/scripts/release-sdk.sh
)

[2020-07-04 08:48] arioki1 commented on #181
this [file](https://github.com/jitsi/jitsi-meet/blob/master/react/features/toolbox/components/native/Toolbox.js) that you have to modif

[2020-07-04 15:22] nmissaoui1987 commented on #172
i have the same issue

[2020-07-05 08:59] mamoru0217 commented on #94
@tmjordan
Hi, I got a same problem but fixed it.
Please check the bundle file name emitted by codepush.
In my case, the file name was `index.android.bundle`, so I edit my app's code as following.

[code]

[code]

I hope this fix your problem also.

[2020-07-05 13:01] tmjordan commented on #94
Hi @mamoru0217 , thank you very much. Your solution is working.
You saved me :D

[2020-07-06 09:01] wahidin32 commented on #181
any example custom for this case sir @arioki1  ?

[2020-07-06 12:49] arioki1 commented on #181
To do it you have to modify this file https://github.com/jitsi/jitsi-meet/blob/master/react/features/toolbox/components/native/Toolbox.js#L107

[2020-07-08 10:11] thainx commented on #172
You can try this solution https://github.com/react-native-webrtc/react-native-webrtc/issues/584#issuecomment-641474356
It worked for me

[2020-07-08 11:14] deepakverma4 opened #182 "background calling"
the call keep connected if the user leaves the screen without ending current call but when user rejoins the meeting it crashes.
how can we rejoin the meeting using jitsi sdk?

[2020-07-08 14:09] tmjordan commented on #172
@thainx thanks, but it did not work for me

[2020-07-08 14:10] tmjordan commented on #172
As soon as, i join a meeting my app crash. I tried many solutions found on github but none of them worked for me

[2020-07-10 15:27] acostalima commented on #67
@skrafft why does the bundle name has to be overridden?

[2020-07-10 15:30] skrafft commented on #67
As the jitsi meet sdk is written is React Native as well, it already uses app.bundle for its own code. So we have to override the bundle name to avoid conflicts and one overwriting the other.

[2020-07-10 15:35] acostalima commented on #67
@skrafft indeed, makes sense! Thanks for the clarification.

[2020-07-10 15:56] acostalima opened #183 "Cannot use org.webkit:android-jsc-intl instead of org.webkit:android-jsc"
I'm getting the following error:

[code]

I have tried to exclude the dependency but to no avail:

[code]

On the other hand, if I enable Hermes on my app and exclude it from `react-native-jitsi-meet` it works just fine.

Any clue on how to fix this?

[2020-07-14 00:55] iboy15 commented on #172
i use gradle 3.5.3 & working fine with  `minSdkVersion = 21`

` classpath("com.android.tools.build:gradle:3.5.3")`

[2020-07-15 22:39] rananajam1 opened #184 "How can I alter the UI of VideoCall?"
I'm aiming to use jitsi only for its rich architecture, but I want to use custom styling for the UI for example chat, how can that be achieved?

**Help devs**

[2020-07-16 11:35] nishantt12 opened #185 "Jitsi not playing ringtone or callertone"
I am using Jitsi for audio and video conferencing but it is not playing ringtone or caller tone when I make a call.

How to enable Jitsi to play caller tone and ringtone?

[2020-07-17 05:16] davenlin19 opened #186 "Is there any way to get current dominant speaker?"
Hi,

I'd like to get current participants and current dominant speaker. I can not find the documentation for Jitsi API in react-native.
Please help me. Thank you!

[2020-07-17 07:31] #181 closed

[2020-07-17 09:05] rassemdev opened #187 "RNCNetinfo.getCurrentState got 3 arguements, expected 2"
I'm developing an app using RN Cli. My RN version is 0.62.2. When i'm trying to implement your library using latest version, i'm getting this error message `RNCNetinfo.getCurrentState got 3 arguements, expected 2`. I know this error is showing in NetInfo library, but before implementing your library it was working fine. Only occurring when i'm including your library. If i exclude the NetInfo code

[2020-07-18 18:12] dhiogocorrea opened #188 "Use external api commands"
It would be nice the possibility of using external api with this wrapper.  [Jitsi meet external api](https://jitsi.github.io/handbook/docs/dev-guide/dev-guide-iframe)

[2020-07-20 14:03] deepakverma4 commented on #93
@jean-ben-guigui after replacing with custom sdk it is crashing giving this error ```[JitsiMeetSDK] FATAL ERROR: RCTFatalException: Unhandled JS Exception: TypeError: undefined is not an object (evaluating 'k.default.div.withConfig')```
Any guess how can we resolve it?

[2020-07-21 11:20] hasgardee commented on #100
@dpkpanchal38-web did you fixed it?

[2020-07-21 12:39] dpkpanchal38-web commented on #100
Yes, I fixed this by calling Java code into react-native

[2020-07-21 12:39] dpkpanchal38-web commented on #100
@hasgardee Yes, I fixed this by calling Java code into react-native

[2020-07-21 13:29] hasgardee commented on #100
@dpkpanchal38-web could you please explain?

[2020-07-21 17:21] nishantt12 commented on #128
@batuhansahan I tried these changes but they are not working except                                                                 .setFeatureFlag("chat.enabled",false).

I can still see all these options when I click on 3 dots on the right side of the screen.

[2020-07-22 16:17] hasgardee commented on #171
@Punit-Vajpeyi how did you fix this issue? I'm also facing the same

[2020-07-22 16:23] hasgardee commented on #163
any fix?

[2020-07-22 16:23] hasgardee commented on #183
any luck?

[2020-07-22 16:25] acostalima commented on #183
Unfortunately, no. Sorry. 😞

[2020-07-23 11:37] hasgardee commented on #121
@lironsher yeah..facing same issue.. any fix? @mark-slepkov

[2020-07-23 14:03] khalilTN opened #192 "Cannot find module 'react-native-jitsi-meet' or its corresponding type declarations."
Hi,

I'm on RN0.60, i installed react-native-jitsi-mee.
Here's my import code
`import JitsiMeet, { JitsiMeetView } from "react-native-jitsi-meet";`
Vs code shows a complie error
`Cannot find module 'react-native-jitsi-meet' or its corresponding type declarations.`
What can be the issue ?

Thanks in advance !

[2020-07-23 16:48] devcosta commented on #123
Same problem here

[2020-07-24 05:58] Punit-Vajpeyi commented on #171
It was the configuration issue for me. I missed one step of readme which was giving me the problem.

[2020-07-24 06:04] hasgardee commented on #171
@Punit-Vajpeyi  which step was you missing? are you using hermes?

[2020-07-24 06:12] Punit-Vajpeyi commented on #171
Yes, I am using Hermes. Changes in MainApplication

          @Override
          protected @Nullable String getBundleAssetName() {
              return "app.bundle";
          }

[2020-07-24 06:19] hasgardee commented on #171
@Punit-Vajpeyi which is already done. for me which is working in debugging but note in release.

[2020-07-24 07:22] hasgardee commented on #171
Finally fixed it. `react-native-codepush` was causing issues for me.

[2020-07-24 07:26] hasgardee commented on #123
Finally fixed it. `react-native-codepush` was causing issues for me. try disabling it. codepush bundle name is different than app.bundle I guess. So, want to make both same to run codepush and react-native-jitsi-meet

[2020-07-24 07:26] hasgardee commented on #121
Finally fixed it. `react-native-codepush` was causing issues for me. try disabling it. codepush bundle name is different than app.bundle I guess. So, want to make both same to run codepush and react-native-jitsi-meet

[2020-07-24 07:26] hasgardee commented on #90
Finally fixed it. `react-native-codepush` was causing issues for me. try disabling it. codepush bundle name is different than app.bundle I guess. So, want to make both same to run codepush and react-native-jitsi-meet

[2020-07-24 07:28] hasgardee commented on #87
Finally fixed it. `react-native-codepush` was causing issues for me. try disabling it. codepush bundle name is different than app.bundle I guess. So, want to make both same to run codepush and react-native-jitsi-meet

[2020-07-27 07:40] yacineBR commented on #184
+1

[2020-07-27 10:43] khalilTN commented on #117
Thanks, screen was black when accessing it for the first time only, ,solution 1 worked for me.

[2020-07-27 22:18] rananajam1 opened #193 "Error on one plus 7T(Android 10) build"
![Screenshot_20200727-153501](https://user-images.githubusercontent.com/51153575/88597527-cbb13100-d080-11ea-9752-1eddcc19037e.jpg)

Any idea why I am facing this issue on oneplus 7T but not on samsung A10? (Release mode)

[2020-07-28 01:00] rassemdev commented on #187
I have excluded those packages while implementing jitsi-meet sdk, now my other pages are working fine, except the video conference page where the jitsi-meet will run.

[code]

Now i'm getting this error, (it is showing after the app crashes)

`com.facebook.react.bridge.NativeArgumentsParseException: RNCNetInfo.getCurrentState got 2 arguments, expected 3`

any ideas!

[2020-07-28 08:53] thainx commented on #183
The exclude line is wrong. Jitsi Meet 2.4.0 (which this library is using) uses the standard JSC instead of the intl version. To make it work, I think you have to change it to
[code]
Clean the project and try again

[2020-07-28 09:11] dpkpanchal38-web commented on #100
@hasgardee I'm implemented using native code
First I've use the android native code into android folder and access that code using package into react native file and pass url from react-native file to android native file.
You can google it "how to access android native code into react-native" you will get lot of examples.

[2020-07-28 09:16] hasgardee commented on #100
ok.. thanks. actually my issue was a conflict with `react-native-codepush`. so set bundle name to app.bundle and it solves my issue.

[2020-07-29 21:56] bayazetyan commented on #193
@rananajam1 You can disabled call integration, add this `.setFeatureFlag("call-integration.enabled", false)` here
`node_modules/react-native-jitsi-meet/android/src/main/java/com/reactnativejitsimeet/RNJitsiMeetModule.java `
You need add it for both methods `call ` and `audioCall`
[code]

[2020-07-30 08:10] kaiherrman opened #194 "Error on iOS after installing package"
After following the steps in README.md the app can no longer connect to the metro bunde server.

`Exception	NSException *	"No bundle URL present.
Make sure you're running a packager server or have included a .jsbundle file in your application bundle."	0x00006000033ebcc0`

Metro server does start but also has no connection to any device.

`warn No apps connected. Sending "reload" to all React Nativ

[2020-07-30 11:25] bhavesh18 commented on #93
Hi, I have customised the jitsi sdk and don't know how/where to replace the aar file for android. Could you please mention the directory path?

[2020-07-30 15:22] RicardoDolNL commented on #85
I have the same problem. When pressing buttons within the JitsiMeetView it also presses buttons that are shown above that view or even buttons from a different route (that was shown before the current route is shown). I also tried updating everything and wrapping within an other view, but no luck yet.

react-native: 0.62.2
react-native-jitsi-meet: 2.1.1 (forked this repository to update jitsi-meet

[2020-07-30 15:32] RicardoDolNL commented on #182
iOS uses callkit to show that a call is still active. But on android i'm using local notifications to show that a call is still active. It's a bit of a workaround because i think that the newest jitsi-meet-sdk version can make use of something called ConnectionService for android. What as far as i know works a bit the same as callkit from iOS.

But for now i send a local notification when the app

[2020-07-30 15:35] RicardoDolNL commented on #162
Try this

[code]

[2020-07-30 15:41] RicardoDolNL commented on #180
Fixed it. Apparently not everyone working at Apple understands that a video chat app uses voip. After some correspondence they accepted my app.

[2020-07-30 15:41] #180 closed

[2020-07-30 15:48] RicardoDolNL commented on #177
You'll need to fork this github project and than edit RNJitsiMeetModule.java and RNJitsiMeetViewManager.m.
Within those files you'll find a section with JitsiMeetConferenceOptions. You can set the so called 'setFeatureFlag' to enable or disable some features.

Android example:
[code]

iOS example:
[code]

[2020-07-30 16:26] hnrqsss commented on #177
Thank you !!!

[2020-07-30 16:26] #177 closed

[2020-07-31 20:31] rananajam1 commented on #193
@bayazetyan still the same issue. @skrafft can you suggest why this might be happening?

[2020-08-03 15:35] anshumanburman commented on #187
just update NetInfo with 5.00 version from the community.

[2020-08-03 15:44] anshumanburman commented on #53
I also have the issue with call end, there is not any event are invoked after end the call.

[2020-08-03 16:31] anshumanburman opened #196 "Events are not being invoked of JitsiMeetView"
Please add an index.js file in node_modules and put the below code inside it.

import React from 'react';
import {
    Platform
} from 'react-native';
import JitsiMeetModuleIOS from 'react-native-jitsi-meet/index.ios';
import JitsiMeetModuleANDROID from 'react-native-jitsi-meet/index.android';
export default Platform.OS==="ios" ?JitsiMeetModuleIOS :JitsiMeetModuleANDROID;

[2020-08-03 16:32] rassemdev commented on #187
@anshumanburman,  i already solved it, but thanks for your time, after excluding them from build.gradle, i downgraded my netindo to 4.6^. That solved my problem

[2020-08-03 16:32] #187 closed

[2020-08-04 11:07] davenlin19 commented on #94
Thank you @skrafft You saved my life!

[2020-08-05 10:03] RicardoDolNL commented on #85
A bit offtopic, but I fixed the option button problem by downgrading react-native-svg to version 9.7.1.

But I still have the problem that tapping a button or even the password field popup within the JitsiMeetView activates other buttons that are not visible or that are above that view.

[2020-08-05 17:42] davenlin19 commented on #94
@skrafft Do we need to do anything like that for IOS? My app can detect that there is a new version but not be able to use the new version. Thank you!

[2020-08-06 06:09] skrafft commented on #94
Nope, normally, following Code Push doc and Jitsi meet doc work on iOS. Code Push does not work with debug mode though.

[2020-08-06 19:08] rananajam1 opened #197 "Getting authorization popup"
![Screenshot_1596740719](https://user-images.githubusercontent.com/51153575/89571899-d9fe0a80-d841-11ea-9508-c3f648ac8df4.png)

My jitsi server uses auth and hence I'm providing it the jwt as mentioned in the docs

https://my.jitsi.server/roomName?jwt=xxx

But still receiving this popup and the call is never joined

[2020-08-06 19:08] rananajam1 commented on #197
@skrafft can you please have a look

[2020-08-07 10:27] eskiesirius commented on #85
i dont have react-native-svg but still im experiencing this kind of issue

[2020-08-07 14:23] kaiherrman commented on #194
Seems to be an issue within the project. Closed

[2020-08-07 14:23] #194 closed

[2020-08-09 10:53] dzungdinh94 opened #198 "Cannot have a newline after 'throw'."
I'm getting crash with message
 E/JitsiMeetSDK: JitsiMeetUncaughtExceptionHandler FATAL ERROR
    java.lang.RuntimeException: com.facebook.react.devsupport.JSException: Cannot have a newline after 'throw'.
RN version: 61.5
rn-jitsi-meet: 2.1.1
jitsimeet sdk: 2.4.0
anyone faced this issue?

[2020-08-10 00:18] craftalpian commented on #103
where do i put the code?

[2020-08-10 11:07] aghahuseynov opened #199 "android build error"
Hello, I am getting an error while building the application.

Error : Could not HEAD 'https://jitpack.io/org/jitsi/react/jitsi-meet-sdk/2.4.0/jitsi-meet-sdk-2.4.0.pom'. Received status code 401 from server: Unauthorized
Enable Gradle 'offline mode' and sync project

RN Version => 0.62.2
"react-native-jitsi-meet": "^2.1.1",

gradle v =   classpath('com.android.tools.build:gradle:3.6.3')

[2020-08-10 11:23] mustafaefdal opened #200 "Android apk bundleRelease error"
hey everyone,

There is no problem between my files and my react-native versions but when i trying to create an apk file, React-native-Jitsi-meet library prevents me from creating an apk file.

![unknown](https://user-images.githubusercontent.com/45698331/89777643-bfaf7f80-db14-11ea-88fe-a4043547b30b.png)

on the error screen it suggests adding to the androidmanifest.xml file, but the code it ment

[2020-08-10 15:10] enricodevita commented on #179
I also on android 10

[2020-08-11 03:04] rrymm commented on #200
Hi,

In your AndroidManifest.xml add:
xmlns:tools="http://schemas.android.com/tools
and
tools:replace="android:allowBackup"

as per suggestion on the screenshot.

 <application
      **xmlns:tools="http://schemas.android.com/tools"**
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_rou

[2020-08-11 07:34] mustafaefdal commented on #200
hey,

thank you for your help. i added what you said to my codes. but
unfortunately, a new error has occurred.

[image: unknown.png]

i searched the internet for finding any solution this problem. but
solutions i found were useless. what can i do for this error?

thank you for kindly help :)

Mustafa Efdal

rrymm <notifications@github.com>, 11 Ağu 2020 Sal, 06:05 tarihinde şunu
yazdı:

[2020-08-11 08:27] #200 closed

[2020-08-11 08:29] mustafaefdal opened #201 "Android build apk error"
hey everyone,

i searched the internet for finding any solution this problem. but solutions i found were useless. what can i do for this error?

![unknown](https://user-images.githubusercontent.com/45698331/89875397-de218380-dbc5-11ea-9ff6-3a8febb83f23.png)

[2020-08-11 15:13] pikooli opened #202 "is also present at [org.jitsi.react:jitsi-meet-sdk:2.4.0] AndroidManifest.xml:32:9-35 value=(true)."
Hello, i got a little problem when i want to use react-native-jitsi-meet.
i did a blank project with "npx react-native init project" , i can launch the project fine on a emulator with npm run android.

i wanted to test this jitsi meet for react native but everytime i try to install and use it , i got error in building.

`
Deprecated Gradle features were used in this build, making it incompatible w

[2020-08-12 09:27] pikooli commented on #202
I fixe it by putting  'android:allowBackup="true"'  in "android/app/src/debug/AndroidManifest.xml" at application

[2020-08-12 09:30] pikooli commented on #126
i got this issue to , did you fixe it ? i thing is the server setup ?

[2020-08-12 09:35] pikooli opened #203 "Connect to your own server"
Hello,
Joining a https://meet.jit.si/ room work perfectly but if i want to join like "https://myserver.com/room" it just throw a black screen without anything.

It is a problem with the server configuration ? or the you have to enable a option ?
More appreciate.

[2020-08-12 12:47] pikooli commented on #203
found out , need to remove the www from the url

[2020-08-12 12:48] pikooli opened #204 "Remove some option from the view"
Hello , i would like to ask if you can remove some option from the view ?
like remove the chat or the register button?
thanks in advance

[2020-08-13 01:34] davenlin19 opened #205 "Horn icon missing on IOS"
Hello,

I'm using react-native-jitsi-meet 2.1.1 and react-native 0.62.2. The horn icon is visible on Android but missing on IOS, so we don't know who is really talking.

![horn_icon_missing](https://user-images.githubusercontent.com/3631130/90084540-c53cdd80-dd3f-11ea-8896-2544d6f6391f.png)

Anyone know how to fix it? Thank you!

[2020-08-13 11:41] hasgardee commented on #85
any fix guys? other than removing screens from stack?

[2020-08-14 20:54] #197 closed

[2020-08-17 13:54] Punit-Vajpeyi commented on #188
@dhiogocorrea Did you got any solution. @skrafft Any plans of implementing this in future?

[2020-08-17 14:26] dhiogocorrea commented on #188
@Punit-Vajpeyi No :( I'm almost trying to start implementing it

[2020-08-17 14:33] skrafft commented on #188
Using external api was my initial plan when I started this project. I came across the following problems which led me to use the mobile frameworks provided by Jitsi instead:

- Intended for web use
- Lack of mobile support (weird message saying that mobile is not supported)
- Lack of webrtc support in Safari Webview

I don't think it has changed much lately. Are you seeking a specific feature or j

[2020-08-17 16:31] dhiogocorrea commented on #188
@skrafft I see... I'm mainly looking for the "toggleAudio" functionality.

I was looking at this: https://github.com/jitsi/jitsi-meet/blob/master/android/sdk/src/main/java/org/jitsi/meet/sdk/ExternalAPIModule.java and wondering if creating a RNExternalAPIModule.java would work...

Thanks.

[2020-08-17 16:54] skrafft commented on #188
I don't think it would because this module was made to exchange information between Javascript and Java, not the other way.

[2020-08-17 17:54] dhiogocorrea commented on #188
sad...

[2020-08-18 17:51] codetestmg commented on #126
@pikooli  not at fixed in react native

[2020-08-19 10:36] Gretchin commented on #120
Same issue at real android device. Sometimes events doesn't fires callbacks
adb logs:
[code]
Any ideas?

[2020-08-19 10:39] AgamGujralSD commented on #35
Hi @pranavpandey1998official, were you able to resolve this issue and if yes, could you describe how you were able to achieve that?

[2020-08-20 11:51] pranavpandey1998official commented on #35
We moved to watermelondb , it was the problem with realm

On Wed, 19 Aug, 2020, 4:10 PM AgamGujralSD, <notifications@github.com>
wrote:

[2020-08-20 20:10] Mubeen07 commented on #202
facing same issue

[2020-08-21 05:08] Punit-Vajpeyi commented on #188
@skrafft I want to listen to chat message listener since I want to notify the user when chat message arrives. Can you suggest any work around?

[2020-08-27 07:01] kaustavhazra opened #208 "App crash in release mode RN 0.61.5"
RN 0.61.5
react-native-jitsi-meet version: 2.1.1

Hello,
I am intregrate jitsi in my app. In debug mode App is working but In release mode BUILD IS SUCCESSFULL but in mobile app got crash.(Mobile ANDROID 10)
I am using this commend  for build the project =  gradlew assembleRelease -x bundleReleaseJsAndAssets

Build.gradle
[code]

app/build.gradle
[code]

[2020-08-27 17:42] kaustavhazra commented on #118
in build.gradle change minSdkVersion=24 **@gaurav-psych**

[2020-08-28 01:40] guisedassari opened #209 "disable features"
I would like to know without having to disable some options within the videoconference, example live stream?

[2020-08-28 09:59] khalilTN commented on #134
Hi,
Is there a solution for this ? Once the conference is opened, the whole app has an additional space on top of the screen.

[2020-08-28 13:53] harut7777 commented on #55
Hi, is that error was fixed? i have the same problem, one time i could run it but after it it dont want to run

[2020-08-31 08:27] anshumanburman commented on #23
@maheshmbm have you found any solution for this issue? if yes please tell me.

[2020-09-01 02:27] daocaoren8318 commented on #55
my react-native version is 0.60.6 and Jitsi Meet SDK version is 2.4.0,but it still crashes

[2020-09-01 11:01] liketodev4 commented on #55
File in android/app/src/main/assets/index.android.bundle named differently than specified in guide and name should be app.bundle.
Run this from project root to remove previous and generate correct app.bundle:
rm android/app/src/main/assets/index.android.bundle.

npx react-native bundle --platform android --dev false --entry-file index.js --bundle-output android/app/src/main/assets/app.bundle --ass

[2020-09-01 11:03] harut7777 commented on #55
The file in android/app/src/main/assets/index.android.bundle named differently than specified in guide and name should be app.bundle.

Run this from project root to remove previous and generate correct app.bundle:

rm android/app/src/main/assets/index.android.bundle

npx react-native bundle --platform android --dev false --entry-file index.js --bundle-output android/app/src/main/assets/app.bundle

[2020-09-01 14:18] KovaxG commented on #204
@Punit-Vajpeyi I have a further question if you don't mind, I guess you mean to change the android files, but where should they be located? From what I know they are in the node_modules folder, so if I make a change there it would get overwritten whenever I reinstall dependencies.
If you could help out a bit, or even with just a link I would appreciate it.

[2020-09-02 08:46] daocaoren8318 commented on #55
I have the same issue,how did you solve it?

[2020-09-02 17:09] khalilTN opened #210 "Crash on IOS"
Hi,

Actually i have 3 environments, dev, demo and prod.
Jitsi works fine on the dev and demo, but when trying on prod, it crashes when openning the JistsiView

Exception Codes: 0x0000000000000000, 0x0000000000000000
Exception Note:  EXC_CORPSE_NOTIFY
Triggered by Thread:  3

0   CoreFoundation                	0x18b5915f0 __exceptionPreprocess + 224 (NSException.m:199)
1   libobjc.A.dylib

[2020-09-03 03:01] foolem opened #211 "Change language, Android version."
Hello, am I able to change the language of react-native-jitsi-meet? I'm needing this feature on Android.

Thanks.

[2020-09-05 19:18] Jeeva0104 opened #212 "Module Not Found 'error: cannot find symbol 'import com.reactnativejitsimeet.JitsiMeetPackage;'"
Hi, I am trying to install the Jitsi and after installing and trying of run-native-run-android it shows me the following error.

![image](https://user-images.githubusercontent.com/47843536/92312017-80bcfe80-efda-11ea-9cec-97d233d5d0ca.png)
![image](https://user-images.githubusercontent.com/47843536/92312036-b19d3380-efda-11ea-8b4f-e2bfaf80f36e.png)

**RN Version:0.63.2**
**react-native-jitsi-meet:

[2020-09-05 19:52] #212 closed

[2020-09-08 19:52] p13i commented on #192
@skrafft , correct me if I'm wrong but `@types/react-native-jitsi-meet` is not available to provide TypeScript compile checks. Perhaps one of us can add these definitions to the project and publish to npm?

For now, I've added `// @ts-ignore` in a newline above this import to suppress the error.

[2020-09-08 21:00] khalilTN commented on #210
This is caused by the avatar being null in userInfo, replacing null by empty string resolved it.
But i think it would be better to handle null avatar for ios..
Thank you for this awsome project.

[2020-09-08 21:00] #210 closed

[2020-09-10 11:45] ShareemGelitoTeofilo commented on #130
Try removing the <View /> component

[2020-09-11 10:23] Marinaarimany opened #213 "Important! Problem on React native Android version 10 Cordially."
Hello, I am currently using the react-native-jitsi-meet library in my project. However, I am experiencing an error with this on my Android phone version 10.0 (Huawei p20 pro). When I want to join a video call as administrator, a pop-up is displayed every minute with this error message: “Cannot initiate video call when you are already on a call”, obviously I don't have no other call at the same tim

[2020-09-11 13:38] nikilarigela commented on #212
hi did you find the solution

[2020-09-11 17:09] Jeeva0104 commented on #212
Yes I found the solution thank you

[2020-09-15 04:01] cesarcorzo opened #215 "Jitsi Meet recording with Rocket chat"
Is it possible to hide the recording label/icon (REC) when starting/joining Jitsi Meet?

[2020-09-16 03:41] dharmendrashah commented on #208
I have the same issue before, Try to release in android-studio signed apk
this helps me a lot, It will fix all of your issues

[2020-09-17 04:10] cesarcorzo opened #216 "Jitsi Meet SDK fails to build"
Jitsi SDK version: 2.9.0
React-Native-Jitsi-Meet: 2.1.1

I modified Jitsi SDK and created a maven repo at (https://github.com/cesarcorzo/jm-sdk-maven-repo.git").

I am using Jitsi in Rocket chat application, and when I try to build/execute (yarn android), I get this:

java.lang.RuntimeException: java.lang.RuntimeException: Duplicate class com.facebook.hermes.BuildConfig found in modules hermes-0.2

[2020-09-17 07:46] RicardoDolNL commented on #216
I don't know if it helps but i excluded hermes two times:

[code]

[2020-09-17 07:56] RicardoDolNL commented on #209
You should fork this repository and change the feature flags to your liking like the example below:

Android (RNJitsiMeetModule.java)
[code]

iOS (RNJitsiMeetViewManager.m)
[code]

[2020-09-17 08:16] focalsolution commented on #208
@kaustavhazra I am facing the same problem with RN 0.62.2

@dharmendrashah Can you give me more info on how you fixed this problem? Do you have to do any special things other than excluding some underlying libs from Jitsi? Then signed APK with android studio will work?

[2020-09-17 09:28] focalsolution commented on #208
@dharmendrashah I have tried to use android studio to signed apk. The build process of apk works just fine bug the exception still occur in run-time.

Do you face the same problem?
Can you share me your resolution?

[2020-09-18 07:59] KushalDesai1 commented on #117
The video call screen is displayed in the emulator. But when I generate a debug build, it crashes with JistMeetUncaughtException.

Tried all the above solutions, but no luck.

Are there any proguard rules required/not required or some special configuration??

[2020-09-18 11:31] vaidya101 opened #217 "Android build crash after opening jitsi meet on RN0.63.2"

[2020-09-19 05:08] focalsolution commented on #208
@kaustavhazra I ended up downgrade Gradle version and it is now working.

1. Use Gradle Plugin 3.4.3 in `android/build.gradle`
[code]
2. Use Gradle 5.6.4 in `gradle-wrapper.properties`
[code]

[2020-09-21 03:03] cesarcorzo commented on #216
I solved this specific issue with this:
[code]

[2020-09-21 03:03] #216 closed

[2020-09-21 19:26] rananajam1 opened #218 "Unable to set User Info when I add the ability to verify jwt"
Im unable to set the Display Name via
`_userInfo.setDisplayName("XYZ");`

This only happens when I try to append jwt using
`RNJitsiMeetConferenceOptions options = new RNJitsiMeetConferenceOptions.Builder()
.setServerURL(serverURL)
.setRoom(url)
.setToken(token)
.setAudioOnly(false)
.setUserInfo(_userInfo)
.build();
mJitsiMeetViewReference.getJitsiMeetView().join(options);`

Other options are worki

[2020-09-21 19:27] rananajam1 commented on #218
@skrafft can you help with this please?

[2020-09-21 20:09] rananajam1 commented on #174
@FazilMuhammed  did you find a solution for this?

[2020-09-22 01:53] cesarcorzo commented on #209
@RicardoDolNL Does this work for disabling recording label (not recording option) as well? I didn't see it.

[2020-09-22 04:52] trinhak commented on #137
change:  platform :ios, '10.0' in Podfile

[2020-09-22 16:22] devcosta commented on #217
Same problem

[2020-09-23 18:09] pedrofilipe commented on #211
Boa tarde,

To escrevendo em português, pq é mais fácil pra mim, se fosse escrever em inglês iria demorar muito tempo e meu intuito aqui é ajudar, se o amigo ae puder traduzir para o inglês de forma a ajudar outras pessoas já agradeço;

Eu sei que essa não é a melhor opção, mas funcionou;
Eu não achei o local, provavelmente existe uma variável que você seta e o app fica todo em português, mas como

[2020-09-26 13:19] SeveHo commented on #167
@skrafft Any idea? This is the output of the debugging console when connecting a device with the testflight build running:

![image](https://user-images.githubusercontent.com/20375523/94341677-8cb14480-000b-11eb-8835-70b613723c09.png)

[2020-09-29 16:03] yuvaraghav03 commented on #202
facing the same problem, android:allowBackup="true" did not worked for me

[2020-09-30 11:01] kanelloc commented on #85
Same problem here with:
react-navigation/native: "5.7.4"
react-native-jitsi-meet: "2.1.1"
Any workaround?

[2020-10-01 11:11] mustafaefdal1 opened #219 "Jitsi-Meet meeting lists and starting meeting"
Hello,
I developed a jitsi meet mobile app with react native. however, I can only log in conferences that have already been opened.
I want to open new conferences and I want to see the list of meetings that exist on my home page.

How can it be possible?

[2020-10-01 13:51] skrafft commented on #219
Unfortunately, the library does not have this feature at the moment because Jitsi Meet SDK does not include it. If you are running your own server, you probably can do it on the server side via an api but I did not find any documentation on this.

[2020-10-01 13:51] #219 closed

[2020-10-02 17:31] vinaygoyal20 commented on #53
To all those who still face this issue, A new method is added and which is there in the example project
https://github.com/skrafft/react-native-jitsi-meet/blob/master/ExampleApp/App.js

The method is end call i.e `JitsiMeet.endCall();`
And this method is i think is available in version>= 2.0.0

[2020-10-03 00:28] Chocolladin opened #220 "Hide tile of users with no video / audio"
Dear,

Is it possible to hide tiles of users with no video / audio.

Sort of spectator mode.

1 ppl streaming and others only watching.

Thanks in advance,

Regards,

Bertrand

[2020-10-04 07:32] sunilkumarjena21 commented on #154
Hi @jfbourne ,
Can you suggest on this please?
https://github.com/jitsi/jitsi-meet/issues/7834#issuecomment-703143302

[2020-10-04 17:10] sunilkumarjena21 commented on #154
Thanks for your awesome support on this community.

I have followed the step build my own SDK as mentioned in the below link.

Branch builds fine:-https://github.com/jitsi/jitsi-meet/tree/mobile-fix-20.5-build

// Jitsi Meet
implementation('org.jitsi.react:jitsi-meet-sdk:2.11.0')

Wanted to achieve the customization as per below:-
Trying to change jitsi-meet-sdk to connect-lane-sdk

Step followed:

[2020-10-04 21:35] rananajam1 commented on #128
@nishantt12 did you find a solution for this?

[2020-10-05 05:40] deepakverma4 opened #221 "The specified child already has a parent."
Most of the times my application crash showing this error ```The specified child already has a parent. You must call removeView() on the child's parent first.```
Any idea what is going wrong?

[2020-10-05 06:12] deepakverma4 commented on #130
I'm calling ```this.props.navigation.dispatch(
              CommonActions.reset({index: 1, routes: [{name: 'Rooms'}]}),
            );```  before navigation to screen containing ```JitsiMeetView```  and after leaving that screen.
still i'm facing this crash. any help please?

[2020-10-06 16:03] pluck011 commented on #120
@Gretchin I'm also seeing the same error and it happens with both a real device and the emulator.
I've tried debug and non-debug builds and I still get the
`Calling JS function after bridge has been destroyed: RCTEventEmitter.receiveEvent...` error.
I have not found a workaround yet.

[2020-10-08 22:59] localhosted opened #222 "Expo 39 Bare Workflow Release crash"
I followed the Android Install section in the readme, but when running the release it crashes immediatly:

[code]

[2020-10-12 07:41] vinh-smartdev commented on #202
I have same issue

[2020-10-12 15:38] tinycoding5 opened #223 "How to get call close event from jitsi meet sdk?"
I am going to get end call event from jitsi meet sdk such as web version.

in web version, we can get end call event following:

[code]

in react-native ,
JitsiMeet.endCall()  , this is call end event but no response to get end call event

Who has experience in this problem?

[2020-10-14 07:24] roon83 opened #224 "Error: Config no longer needed!"
I am using react-native-jitsi-meet in my project. Sometimes the stream ends abruptly and I get this error in jitsi's onConferenceTerminated "Error: Config no longer needed!".
Can anybody tell me why this error occurs and what I should do to avoid this error?
I have checked the documentation and searched the internet but couldn't find anything about it.

[2020-10-14 20:23] pluck011 opened #225 "Calling JS function after bridge has been destroyed: RCTEventEmitter.receiveEvent"
Hi all!

I'm seeing this error `Calling JS function after bridge has been destroyed: RCTEventEmitter.receiveEvent...` on Android when it tries to fire the Jitsi events `onConferenceJoined`, `onConferenceWillJoin` and `onConferenceTerminated`.

This issue only occurs on Android and I'm experiencing it with both debug and release builds on both the emulator and actual device. I've searched around an

[2020-10-15 04:28] tinycoding5 commented on #223
`import React, { useEffect } from 'react';
import { Button, View } from 'react-native';
import JitsiMeet, { JitsiMeetView } from 'react-native-jitsi-meet';

function App() {

  useEffect(() => {
    setTimeout(() => {
      JitsiMeet.initialize();
      // JitsiMeetEvents.addListener('CONFERENCE_LEFT', (data) => {
      //   console.log('CONFERENCE_LEFT', data);
      // });
      const url = 'htt

[2020-10-21 04:42] KushalDesai1 commented on #193
@bayazetyan I am also facing the same issue. @skrafft Please suggest a reason. I am checking on the OnePlus 6.

[2020-10-21 14:05] tinycoding5 commented on #225
I am also getting this issue. When finish the call, onConferenceTerminated() is not called!
Any news?

[2020-10-21 14:33] tinycoding5 opened #226 "JitsimeetView onConferenceTerminated, onConferenceJoined, onConferenceWillJoin is not working sometimes"
[code]

Here onConferenceTerminated, onConferenceJoined, onConferenceWillJoin is not working sometimes.
In many cases, that is not working. How can I resolve this issue?

[2020-10-22 05:55] Tharinducs opened #227 "App is closing automatically?"
In my react native application I am using jitsi react-native wrapper. My code looks like this.

`import React, {Component, useEffect} from 'react';
import JitsiMeet, {JitsiMeetView} from 'react-native-jitsi-meet';

const JitsiVideo = () => {
  useEffect(() => {
    setTimeout(() => {
      const url = 'https://meet.jit.si/MagneticNichesBlameTruly';
      const userInfo = {
        displayName: 'Th

[2020-10-26 18:21] devcosta commented on #227
Hi, Android or IOS?

Running like a charm on Android and last React Native Version ( 0.63.3 )
https://github.com/devcosta/react-native-jitsi-example

[2020-10-26 18:23] devcosta commented on #217
Hi, Android or IOS?

Running like a charm on Android, React Native Version ( 0.63.3 )
https://github.com/devcosta/react-native-jitsi-example

[2020-10-28 07:21] sanoopks commented on #85
@Gretchin  given the correct answer for this problem. You can check it

[2020-10-28 07:25] sanoopks commented on #221
I think this issue exists only in debugging mode. Have you experienced this issue on release build?

[2020-10-28 07:30] sanoopks commented on #209
Have you got any solution for this?

[2020-10-28 07:36] sanoopks commented on #130
Just refresh the app whenever you want to check the video conference again.
Or try @batuhansahan solution

[2020-10-29 14:02] ShashankSavanth opened #228 "Local video stream on iOS not rendering when calls are made continuously for 7 times"
Local video stream on iOS not rendering when calls are made continuously for 7 times.After 7th time local video doesn't render until u mute and unmute.

Happening only in iOS. Working fine in android

It's happening with jitsi meet production app which is pushed to app store

[2020-10-29 14:03] #228 closed

[2020-10-31 23:22] V-Kostin commented on #227
@Tharinducs It`s sound like some rerender after change state, please learn to react hooks(useEffect), the problem in

useEffect(() => {
return () => {
JitsiMeet.endCall();
};
});

u must add next argument, "[]"

useEffect(() => {
return () => {
JitsiMeet.endCall();
};
}, []);

[2020-11-02 03:36] farhanisml opened #229 "Error when create apk debug"
I was running the example app, and it work. But when i try build the apk debug using :

[code]

theres an error like this on the app :

![2020-11-02 10 30 57](https://user-images.githubusercontent.com/73807902/97827337-9149d680-1cf6-11eb-990d-d8df0150dae4.jpg)

Can someone help me

[2020-11-02 13:54] mustafaefdal1 opened #230 "Creating Meeting Rooms"
Hello,
In my application, I can only attend meetings that are started on the web. But I want to be able to start new meetings as audio or video calls through my mobile application. How can I do this?

[2020-11-03 01:27] kssimba commented on #226
Hi,
I wanna solve this issue with you.
I am facing some problems too.
I have integrate React-Native-Jitsi-Meet to my existing app, and it always crashes as soon as I launch it.
Do u have experienced this problem?
Thanks.

[2020-11-03 01:31] kssimba commented on #227
Hi
I have a similar issue.
But my app crashes as soon as I launch it.
I added react-native-jitsi-meet into my existing react native app.
I followed the instructions https://github.com/skrafft/react-native-jitsi-meet.
How can I solve this issue?
Thanks.

[2020-11-03 02:07] tinycoding5 commented on #226
Did you set correctly according to android and ios install guide?
Please check again. When I got same issue, I found that I missed setting guide.
You can confirm issue correctly on android studio.

[2020-11-03 14:33] kanivel commented on #72
Hay @skrafft ,

                      I can genearate release apk by excluding react-native-community-async-storage.but got crash when jitsi video call connected.any solution for this?.

[2020-11-03 14:39] kanivel commented on #103
Hi @sikemullivan ,

                              Build generated.but got crash when jitsi video call screen.Did you face any issue?.Any solution?

[2020-11-07 09:48] arun111 commented on #200
Hi Bro,
I am also facing same issue. How did you fixed it?

[2020-11-07 18:15] arun111 commented on #227
Hi,
I am also facing. same issue like when app crashes as soon as i lunch it

[2020-11-10 09:19] #229 closed

[2020-11-13 03:24] ThanakornNG opened #231 "How to get my particioant id"
is there any way to get my participant id after i have joined room

[2020-11-16 10:48] kanelloc commented on #132
Any workaround on this problem? I want to hide some options and I can't find a way

[2020-11-16 10:58] kanelloc commented on #93
@jean-ben-guigui Hi After the build what files I should replace and where I can find them? Thank you

[2020-11-17 11:06] fr0xy commented on #227
I had the same probleme, You may have forgoten ios config part of the tutorial ( add permissions in info.plist )

[2020-11-19 06:22] Tharinducs commented on #227
Android. It was fine when running the sample but when I try to open it through my app navigation it was clashed

[2020-11-19 07:21] Tharinducs commented on #226
[https://github.com/skrafft/react-native-jitsi-meet/issues/226#issuecomment-720867065](url)  @tinycoding5  what are the missed setting guide? I also facing the same issue. So can you cleary mentioned what were the missed settings.

[2020-11-19 07:25] Tharinducs commented on #227
The solution for my issue was I had put the wrong minsdk version. So when I put it to 24 it was worked finly

[2020-11-19 07:25] #227 closed

[2020-11-19 09:28] Tharinducs commented on #126
Does anyone have a solution for this issue? I am having the same issue. It working very well when I create a room like this. https://meet.jit.si/test12. but failing with my own server.

[2020-11-26 23:35] letaptravek commented on #209
@RicardoDolNL , this is not working for both android or iOS. I have made above change to the files you have mentioned in node_modules/react-native-jisti-meet

[2020-11-26 23:48] letaptravek commented on #23
@skrafft , Can you please provide the 2nd solution for android. Where do I add this script for android.?
Thanks

[2020-11-27 07:38] Tharinducs commented on #163
any fix? I am having the same kind of issue?

[2020-11-28 05:12] Tharinducs opened #233 "React native app build failed with react native jitsi meet on android?"
When trying to build a react native app it gives me this error. Program type already present: com.reactnativecommunity.netinfo.BroadcastReceiverConnectivityReceiver$1 then I add this one to Gradle.  `exclude group: 'com.facebook.react',module:'react-native-community_netinfo'` then it makes app crash after build

[2020-11-28 10:12] #233 closed

[2020-11-28 13:18] Tharinducs opened #234 "App clash in production build?"
I am using jitisi meet react-native wrapper with react-navigation. After building the production build it clashes the app. But works fine in the emulator or real device with development mode. I do not know where I have done wrong.  Can someone give me a solution to this one. I remove all the parts I put to integrate with jitsi and put a build again it was works fine

[2020-11-28 21:44] agustinmejia commented on #234
I have the same problem 3 days ago, the app closes without error in the  release version.

`
"dependencies": {
"@react-navigation/native": "^5.1.7",
"@react-navigation/stack": "^5.2.14",
"react": "16.13.1",
 "react-native": "0.63.3",
"react-native-jitsi-meet": "^2.1.1",
}

`

[2020-11-28 22:14] agustinmejia commented on #234
https://github.com/skrafft/react-native-jitsi-meet/issues/87#issuecomment-564886538

[2020-11-29 03:55] Tharinducs commented on #234
[code]

The issue for me as I have put enableProguardInReleaseBuilds to true. For anyone facing this issue.

[2020-11-29 03:55] #234 closed

[2020-11-30 04:24] sanoopks commented on #209
@letaptravek It will be easy if you can use their SDK to change anything you need.

Please refer: https://jitsi.github.io/handbook/docs/dev-guide/dev-guide-android-sdk

[2020-12-02 12:59] ShaharyarAhmed commented on #216
@cesarcorzo Where did you make this change? I am changing this in `node_modules/react-native-jitsi-meet/android/build.gradle` but it is throwing another error

[code]

[2020-12-02 23:19] letaptravek commented on #209
@sanoopks Thanks, I managed to use custom sdk.

[2020-12-04 00:48] minos95 opened #235 "Task :app:processDebugManifest FAILED"
when i'm installing librairy i had this problem .
how can i fix it .
thanks .
![Screenshot 2020-12-04 014634](https://user-images.githubusercontent.com/75388503/101107508-bae66e00-35d2-11eb-823d-c8974c05a256.png)

[2020-12-04 00:54] #235 closed

[2020-12-04 01:08] minos95 opened #236 "Task :app:processDebugManifest"
When i installed the library . i have this error .
how can i fix it  ?
react-native: 0.63.2 .
thanks .

![Screenshot 2020-12-04 020435](https://user-images.githubusercontent.com/75388503/101108590-26c9d600-35d5-11eb-89b7-ba5d72193673.png)

[2020-12-04 20:53] #236 closed

[2020-12-04 21:59] minos95 commented on #202
i also fixed by editing androidManifest.xml   android:allowBackup="true" to "true" .

[2020-12-05 15:06] ccs1428 opened #237 "Crash issue after integrating lobby in Jitsi Server"
Android application crash when joining a meeting.

Any solution for this

@skrafft i am in this issue last 2 days, please help

[2020-12-06 16:54] minos95 commented on #237
same issue when i make url of my server jitsi doesn't work any solution ?

[2020-12-06 16:57] minos95 commented on #203
please do you find the solution ?

[2020-12-06 22:32] minos95 commented on #226
i have the same issue , did you fix it ?

[2020-12-07 00:08] minos95 commented on #120
someone fixed error ??

[2020-12-08 06:11] raymelon commented on #103
This worked for me in solving this issue https://github.com/react-native-google-signin/google-signin/issues/902

Quoting this solution. it also applies on `"@react-native-community/google-signin": "^5.0.0"`,

on `app/build.gradle`:
[code]

[2020-12-08 10:42] Karanchamp opened #238 "Navigation bar issue (Android)"
I have hide navigation bar before meeting in android
Navigation bar showing up after meeting end
And when I try to hide navigation bar it will showing up again

![image](https://user-images.githubusercontent.com/22621967/101473067-6430b980-396f-11eb-9c1c-c1464e955258.png)

[2020-12-09 13:41] shiyasvp92 commented on #103
Did managed to build release apk, but jitsi screen gets crashed.Please do help to somehow manage this. My app was all done, but didn't take any build and try until everything finished. Debug is all working fine.

[2020-12-09 13:42] shiyasvp92 commented on #103
Same for me

[2020-12-09 15:06] maxoyano commented on #199
Same error here.

[2020-12-10 07:44] icc-romeu commented on #202
If you need to prevent backups, in your manifest you can add:

```    tools:replace="android:allowBackup"```

[2020-12-11 04:20] ccs1428 commented on #237
Please update jitsi version in build.gradle file plugin project and sync. It will work.

[2020-12-11 17:45] shiyasvp92 commented on #203
Hi I am facing the same issue, my server is https://demotest.tutorcomp.com. But works when i go to server using browser

[2020-12-11 17:53] shiyasvp92 commented on #126
Same for me

[2020-12-15 07:57] manpreetsingh3215 commented on #199
i got the same error

[2020-12-16 08:42] manpreetsingh3215 opened #239 "app(android) is crashing when hermes is disabled for the custom designs .aar file and works fine when is it is enabled"
I need to disable the hermes as is giving so many issues in the app (like this one https://github.com/facebook/hermes/issues/386  ). is there a custom way to disable the hermes in the module ? below are the screenshots of the build.gradle file of module , app and android
<img width="799" alt="Screenshot 2020-12-16 at 2 12 01 PM" src="https://user-images.githubusercontent.com/42042301/102325061-b34

[2020-12-16 11:49] vijay-subramani commented on #53
@skrafft we are using customised sdk. for android it's working fine. in iOS if i clicked hangup icon it juz loading.... Call ended but not get callled on jitsiMeetViewDelegate conferenceTerminated (_ data: [AnyHashable : Any]!) method.

[2020-12-16 14:57] 1Ajay commented on #179
is it solved?

[2020-12-16 19:32] davidSmith96 commented on #55
E/JitsiMeetSDK: JitsiMeetUncaughtExceptionHandler FATAL ERROR
    java.lang.NoClassDefFoundError: Failed resolution of: Lcom/oney/WebRTCModule/WebRTCModule$Options;
        at org.jitsi.meet.sdk.ReactInstanceManagerHolder.createNativeModules(ReactInstanceManagerHolder.java:83)
        at org.jitsi.meet.sdk.ReactInstanceManagerHolder.access$000(ReactInstanceManagerHolder.java:48)
        at org.jit

[2020-12-17 04:49] #239 closed

[2020-12-17 08:15] foneazmi opened #240 "No video and audio on celular data"
i had problem, work well using wifi,
but get problem if using celular data.
no audio and no video

![2020-12-17 15 13 58](https://user-images.githubusercontent.com/26783512/102461146-9383ac80-407a-11eb-9e9c-17cb2689e91e.jpg)

![2020-12-17 15 13 37](https://user-images.githubusercontent.com/26783512/102461118-88c91780-407a-11eb-946e-91ceb6d457e2.jpg)

    "react-native": "0.63.3",
    "react-native

[2020-12-21 10:09] josephpnc opened #241 "How to enable lobby mode when start a meeting"
Hi all

I'm sorry if I'm asking this at the wrong place. But I've helped my team look all over the place without success. How do we enable lobby mode automatically when starting a meeting? I read up jitsi and they said it could be done with iframe api. However, we're using this react native wrapper. How can we achieve that?

Thanks for pointing me to the right direction!
Joseph

[2020-12-27 15:12] raza2022 commented on #233
@Tharinducs how did you solved this, I am facing the same issue, can you please share some code or hint to overcome it?

[2021-01-05 10:26] Santhosh1392 commented on #87
This is how I am able to fix the issue.
I removed index.android.bundle from android/app/src/main/assets

Hope this may help someone

[2021-01-06 06:26] Tharinducs opened #242 "It is indicating my app is using camera even though call is terminated in ios?"
In ios, it is indicating that my app is using the camera even though Call is ended with react-native-jitsi-wrapper.But if I close the app is not indicating that but if I keep the app open after the call is ended and navigated to another screen using react-navigation it is indicating by giving a green line at the top of the iPhone screen. Can someone help me with this is? Because it is like I am us

[2021-01-06 21:07] Zeroxys commented on #222
I have the same behavior, any new with this?

[2021-01-07 04:50] Hameed-asfar commented on #208
@focalsolution  I was having issue with release build crashing up everytime, and finally i ended up with finding solution from a repo. That in mainapplication java we set bundle asset name
@Override
        protected @Nullable String getBundleAssetName() {
          return "app.bundle";
        }

so for this (rn version 0.60 +) you need to add this in your android/app/build.gradle

 project.ext.r

[2021-01-07 04:57] Hameed-asfar commented on #217
@devcosta MantionedI was having an issue with the release build crashing up every time, and finally, I ended up finding a solution from his repo. That in mainapplication.java we set bundle asset name

@Override
        protected @Nullable String getBundleAssetName() {
          return "app.bundle";
        }
so for this (rn version 0.60+ ) you need to add this in your android/app/build.gradle

pro

[2021-01-07 05:03] Hameed-asfar commented on #172
I was having an issue with the release build crashing up every time, and finally, I ended up finding a solution from his repo. That in mainapplication.java we set bundle asset name

[code]
so for this (rn version 0.60+ ) you need to add this in your android/app/build.gradle

[code]

Maybe this solution fixes your issue.

Thanks.

[2021-01-08 08:22] deep1931 commented on #160
Have you found the solution?

[2021-01-12 11:16] Tharinducs commented on #237
I am also getting the same error. is there any solution

[2021-01-13 02:28] Tharinducs commented on #237
If anyone facing this issue. As @ccs1428  comment. Update the react-native-jitsi-meet package module build.gradle file jitsi-meet-SDK version to latest and put a clean build. then it will be solved temporarily until this package maintainers add this to package itself

[2021-01-19 10:13] paulignupplabs commented on #149
Any updates here?

[2021-01-19 16:58] Isbilbatua opened #243 "App crash with RN 0.63.0"
Hello People,

I have strictly followed the "Jitsi-meet" library implementation tutorial in my React Native project and when I enter the screen it crashes.

Has anyone had the same problem? Do you think it is because I have more libraries?

LIBRARY INSTALLATION GUIDE (DONE)
------------------------------
STEP ONE -> DONE

**project.ext.react = [
    entryFile: "index.js",
    bundleAssetName: "app

[2021-01-20 16:26] drinikol opened #244 "Jitsi crashes our app due to exclude group module"
RN0.63.1
RN Jitsi meet : 2.1.1

Here is the problem we could build the app for release by excluding this modules but the jitsi crashes our app. But if we remove the exclude jitsi will work but only for debug. Is there a work around here?

[code]

[2021-01-21 10:27] BoumBam commented on #23
I'm also looking for any solution.

How to solve this issue ?

[2021-01-21 18:17] norayr93 commented on #103
Anynone cann tell me exact steps and files where I need to make changes for async_storage problem ?
I am new to react-native and can't understand you well .

Anyone can tell me the exact steps and files where I need to make changes for async_storage problem?
I am new to react-native and can't understand you well.

[2021-01-25 10:38] deepakverma4 commented on #239
@manpreetsingh3215  was you able to run jitsi without hermes?

[2021-01-25 11:21] deepakverma4 opened #245 "Screen sharing support"
When are this repo is getting updated to support screen sharing? It is already available in official SDK.

[2021-01-27 17:32] kaustavhazra commented on #204
@Punit-Vajpeyi  @skrafft
In Android only this FeatureFlag is working. Except chat.enabled nothing is working
.setFeatureFlag("chat.enabled", false)

I have try to disable These but not working.
.setFeatureFlag("live-streaming.enabled",false)
.setFeatureFlag("meeting-password.enabled",false)
.setFeatureFlag("recording.enabled",false)

[2021-01-27 17:39] kaustavhazra opened #246 "In Android onlychat.enabled FeatureFlag is working. Other FeaturesFlag is not working in Android"
I want to disable live-streaming,meeting-password,recording But in android is not working.

I am using dependencies

 "dependencies": {
    "react": "16.11.0",
    "react-native": "0.62.2",
    "react-native-gesture-handler": "^1.5.2",
    "react-native-jitsi-meet": "^2.1.1",
    "react-native-screens": "^2.4.0",
    "react-navigation": "^4.0.10",
    "react-navigation-stack": "^1.10.3"
  },

In A

[2021-01-27 17:45] #208 closed

[2021-01-27 17:47] kaustavhazra opened #247 "How to remove live-streaming and other extra icon/options from meeting page in ANDROID ?"
I have try to disable These but not working.
.setFeatureFlag("live-streaming.enabled",false)
.setFeatureFlag("meeting-password.enabled",false)
.setFeatureFlag("recording.enabled",false)

 "dependencies": {
    "react": "16.11.0",
    "react-native": "0.62.2",
    "react-native-gesture-handler": "^1.5.2",
    "react-native-jitsi-meet": "^2.1.1",
    "react-native-screens": "^2.4.0",
    "react-navi

[2021-02-05 08:54] Isbilbatua commented on #244
Hi Drinikol!

I've been researching this library for a while and with a lot of problems when it comes to making a release.

Don´t remove excludes libraries, you must put them for release okay?

Steps that have worked for me.

**1. Generate release bundle with this command (inside project):**

 mkdir -p android/app/src/main/assets && rm -rf android/app/build && react-native bundle --platform androi

[2021-02-05 12:52] Sylordster commented on #247
I had this problem. JitsiSDK version 2.6 and even higher does not accept this flag and I had to build my own version of the SDK.

[2021-02-06 12:37] deepakverma4 commented on #247
@kaustavhazra
1) Clone the latest master branch from [https://github.com/jitsi/jitsi-meet.git](url)
2) run ```react-native run-android``` followed by ```npm install```
3) do the required changes in their code
4) to generate sdk run ```./android/scripts/release-sdk.sh /tmp/repo``` in project folder

[2021-02-09 13:08] MadCoderme commented on #245
I made a pr today and upgraded SDK version.

But the problem is everything works fine except screen sharing. Screen sharing button prompts an alert then does nothing. I will request experienced Android developers to look at it (I tried with Android 11)

[2021-02-12 12:48] tuladharjaa commented on #80
What are the other steps after replace the file?
As the new framework filename is JitsiMeetSDK.framework and the previous was JItsiMeet.framework

[2021-02-12 16:18] abhikulshrestha22 commented on #199
@aghahuseynov @maxoyano @manpreetsingh3215  Did you guys get any workaround for this? I am stuck on the same error

[2021-02-12 17:22] aghahuseynov commented on #199
unfortunately not found

[2021-02-14 06:43] tuladharjaa commented on #93
@jean-ben-guigui I have followed the above instructions on iOS and the build is success but I get this  error when I run it on iOS simulator I get the following

dyld`__abort_with_payload:
    0x119abfed4 <+0>:  movl   $0x2000209, %eax          ; imm = 0x2000209
    0x119abfed9 <+5>:  movq   %rcx, %r10
    0x119abfedc <+8>:  syscall
->  0x119abfede <+10>: jae    0x119abfee8               ; <+20>

[2021-02-15 11:55] serifkazan commented on #246
Could you find any solution? I have same issue too

[2021-02-16 11:41] progressify commented on #213
I don't understand your language, but I also have a problem with Huawei with Kirin CPU.
If you try to explain your problem in English probably I can understand if we have the same problem :)

[2021-02-16 11:59] keremoge commented on #154
hi, Any proper upgrade for **jitsi-meet-sdk** version **3.**+ ?

[2021-02-16 17:15] keremoge commented on #164
Did you manage to fix it? and how?

[2021-02-18 12:35] Rectifer commented on #245
@deepakverma4 were you able to resolve the issue ??? Because I am facing the same issue

[2021-02-18 14:53] MadCoderme commented on #245
Nope, it's still happening

[2021-02-19 04:44] Rectifer commented on #245
@skrafft can you help us regarding this??

[2021-02-19 12:12] keremoge commented on #243
any solution?

[2021-02-19 12:20] keremoge commented on #222
any solution yet?

[2021-02-19 12:21] Isbilbatua commented on #243
I dont know why, but remove NETINFO library please.

Then put this line (Module App):

implementation(project(':react-native-jitsi-meet')) {
        exclude group: 'com.facebook.react',module:'react-native-vector-icons'
        exclude group: 'com.facebook.react',module:'react-native-community-async-storage'
    }

  If you have errors, look on assets folders and delete bundle file.

[2021-02-19 12:22] Isbilbatua commented on #243
yes!!!

look that : https://github.com/skrafft/react-native-jitsi-meet/issues/244#issuecomment-773892153

[2021-02-19 16:16] rcidt commented on #103
@norayr93 you need to open `android/app/build.gradle` and add this code within the context I am showing:

[code]

[2021-02-20 17:29] keremoge commented on #170
any solutions yet?

[2021-02-21 11:51] deepakverma4 commented on #245
I've created one [issue](https://github.com/jitsi/jitsi-meet/issues/8553#issue-801973994) in official jitsi repo and also shared the adb logs. Let's see if they can help. @skrafft  doesn't seem to be interested working more in this repo.

[2021-02-23 11:35] G10dRafaFan opened #249 "How to automatically leave when user left the conversation in react-native application"
Hi, I am using react-native-jitsi-meet in my react-native application. I want to implement the following feature
1)Caller create new Conference Meeting room and join the room.
2)If partner left room due to internet connection what to do to automatically leave the room.
Is there any way to do this .
"react": "16.8.6",
"react-native": "0.63.4",
"react-native-jitsi-meet": "^2.1.1",
Looking forward to

[2021-02-25 07:10] Princy-vaidya opened #250 "App accessing camera & microphone even I am not in video call in ios"

[2021-02-25 19:44] tirmey commented on #237
Hi, everyone!

I have the same issue regarding Jitsi Meet lobby  in a bare expo project (react native .63.4).
How can I specify the jitsi-meet SDK version? Following the module instructions, I add this snippet on build.gradle:

[code]

This URL should point to the most recent stable version of jitsy, no?

There is some complementar integration instructions?

[2021-02-26 11:01] G10dRafaFan commented on #154
@jfbourne
Hi I am using react-native-jisti-meet library I have forked that npm package and updated the jisti meet sdk to 2.8.1.
I want the participants left event.For both platform can you guide me.
Any help will be appreciated

[2021-02-28 06:10] deounix commented on #164
@keremoge use this fork [JitsiMeet](https://github.com/RocketChat/react-native-jitsi-meet)

[2021-02-28 12:48] shay-te opened #251 "JitsiMeet.call(url, userInfo); crush Android App"
Hello all trying to call but the entire application crash.

[code]

[2021-03-02 07:29] preetgaggu commented on #245
hii... any update ? anyone solved this problem ?

[2021-03-02 12:05] devteamtalkag1 commented on #251
I have the same issue with the code from the example App !

[code]

[code]

[2021-03-04 20:21] alexandrtovmach commented on #243
@Isbilbatua Could you provide more details about it, because it looks like two different issues. In referenced comment you're suggesting about production build process, but current issue about development stage. I also faced with the same issue, but can't understand how to use your comment

[2021-03-05 12:24] alexandrtovmach commented on #251
Figured out the problem and right now it works for me in development and build release apk. Full diff of my changes you can find [here](https://gist.github.com/alexandrtovmach/f0205dc5af196f6df1e7a6311f23a42f).

1. Follow [installation guide](https://github.com/skrafft/react-native-jitsi-meet#install) from this repo README
2. Downgrade `@react-native-community/netinfo`to *4.7.0*
3. Add next attrib

[2021-03-05 12:25] alexandrtovmach commented on #244
Check this https://github.com/skrafft/react-native-jitsi-meet/issues/251#issuecomment-791387438 for possible solution

[2021-03-05 12:25] alexandrtovmach commented on #243
Check this https://github.com/skrafft/react-native-jitsi-meet/issues/251#issuecomment-791387438 for possible solution

[2021-03-05 12:25] alexandrtovmach commented on #217
Check this https://github.com/skrafft/react-native-jitsi-meet/issues/251#issuecomment-791387438 for possible solution

[2021-03-05 12:25] alexandrtovmach commented on #133
Check this https://github.com/skrafft/react-native-jitsi-meet/issues/251#issuecomment-791387438 for possible solution

[2021-03-08 17:00] c0m1t opened #252 "Using a custom SDK"
I have mad a custom SDK, following the instruction in Jitsi Meet website. But the video/audio does not work in my app. If I use the SDK published by Jitsi team, everything works just fine. It seems to be an issue in the custom SDKs.

How can I add a custom SDK to my react-native project that its video/audio works?

[2021-03-08 21:23] c0m1t commented on #252
Changing the RTCPeerConnection polyfill resolved the issue as mentioned [here](https://github.com/jitsi/lib-jitsi-meet/issues/1296#issuecomment-738881439). I'm now confused how the SDKs published by Jitsi team work while custom ones apparently have this issue.

[2021-03-08 21:23] #252 closed

[2021-03-09 13:03] moamfar commented on #246
in node_modules/react-native-jitsi-meet/android/build.gradle, change jitsi-meet-sdk version to 3.2.0 (latest version).

[2021-03-09 23:19] densi97 opened #253 "Listen to events, e.g. participantJoined"
Hi, I tried to add the functionality to listen for other events like participantJoined or participantLeft  but unfortunately my broadcast receiver does not receive any events. According to the [Jitsi SDK dev guide](https://jitsi.github.io/handbook/docs/dev-guide/dev-guide-android-sdk) one needs to add a BroadcastReceiver to listen for events. So I added it like that in the RNJitsiMeetView class:
[

[2021-03-16 13:26] broshni25 opened #254 "Could not find any matches for org.jitsi.react:jitsi-meet-sdk:+ as no versions of org.jitsi.react:jitsi-meet-sdk are available."
I made my custom SDK following the steps in the handbook and this worked on my previous version of android studio. However, on updating to the latest version, the above mentioned error is coming.

Steps:
git clone https://github.com/jitsi/jitsi-meet.git 29
Navigate to the newly added jitsi-meet folder and execute npm install after that remove video mute button from toolbox.js.
Create a new folder(

[2021-03-17 09:06] zhuyuan2016 commented on #254
Maybe this can help you;
1.change "maven { url “file:/tmp/repo” }" to like this "maven { url("$rootDir/../tmp/repo") }"
2.open 'node_modules/react-native-jitsi-meet/build.gradle' file ,edit "$jitsi_version" to you current jitsi sdk version.

[2021-03-17 11:18] jbg commented on #85
Since this issue has seen no activity for several months, and the comment from @Gretchin provides a solution, I'm closing it as part of triaging all open issues. If I made a mistake, please re-open with a comment summarising the current state of the issue.

[2021-03-17 11:18] #85 closed

[2021-03-17 11:19] jbg commented on #98
Since this issue has seen no activity for several months, and it doesn't seem to describe an actual issue in `react-native-jitsi-meet`, I'm closing it as part of triaging all open issues. If I made a mistake, please re-open with a comment summarising the current state of the issue.

[2021-03-17 11:19] #98 closed

[2021-03-17 11:19] jbg commented on #100
Since this issue has seen no activity for several months, and seems to already be solved, I'm closing it as part of triaging all open issues. If I made a mistake, please re-open with a comment summarising the current state of the issue.

[2021-03-17 11:19] #100 closed

[2021-03-17 11:20] jbg commented on #101
Since this issue has seen no activity for several months, and seems to have a solution, I'm closing it as part of triaging all open issues. If I made a mistake, please re-open with a comment summarising the current state of the issue.

[2021-03-17 11:20] #101 closed

[2021-03-17 11:21] jbg commented on #104
Since this issue has seen no activity for several months, I'm closing it as part of triaging all open issues. If you're still experiencing this problem, please re-open the issue along with a comment with any additional information you're able to provide.

[2021-03-17 11:21] #104 closed

[2021-03-17 11:23] jbg commented on #105
You may need to do something similar to what is needed for `react-native-locale-detector` and `react-native-vector-icons`, described at https://github.com/skrafft/react-native-jitsi-meet#side-note

@nicolaselorr @alchemistsaint did you solve this issue in the end?

[2021-03-17 11:28] jbg commented on #243
@Isbilbatua does the solution proposed by @alexandrtovmach fix your issue?

[2021-03-17 11:29] jbg commented on #240
This is unlikely to be an issue in this library. Are you still experiencing this problem?

[2021-03-17 14:49] priyankahash opened #255 "Crash on JitsiMeet.call in android"
I am getting crash on calling this ..getting these errors on the android studio console-
react-native-gesture-handler module was not found. Make sure you're running your app on the native platform
&
Error: react-native-permissions: NativeModule.RNPermissions is null.

Please suggest how to fix this crash

[2021-03-17 15:48] #240 closed

[2021-03-17 15:48] foneazmi commented on #240
[solved] server problem

[2021-03-17 20:32] priyankahash opened #256 "Unable to mute unmute call"
Using this library how can I mute unmute or leave a call or close video during a call. there is no callback for this .
please suggest

[2021-03-18 12:57] G10dRafaFan commented on #253
@densi97 , add these event participant joined into JitsiMeetViewListener.java of your custom sdk and listen to that method in react-native app. you will get that event.

[2021-03-18 13:14] #249 closed

[2021-03-18 13:17] G10dRafaFan commented on #223
@tinycoding5 what is Jitsi Meet sdk version you are using?

[2021-03-18 14:41] mohamad-1994 commented on #144
worked for me , thanks ♥

[2021-03-18 15:48] tinycoding5 commented on #223
I am using react-native-jitsi-meet 2.1.1

[2021-03-19 06:11] G10dRafaFan commented on #223
@tinycoding5,what is the sdk version react-native-jitsi-meet is using, if its is 2.4 you should update to latest version that 3+

[2021-03-19 06:12] jbg commented on #223
The current release of react-native-jitsi-meet is using Jitsi Meet SDK 2.6, which is quite old. I've recently joined as a maintainer on this project and will make a new release with newer Jitsi Meet SDK soon.

[2021-03-19 07:05] G10dRafaFan commented on #223
@jbg Great to hear that.

[2021-03-22 04:14] zhuyuan2016 opened #257 "How to make my custom SDK based on 3.0 version works?"
Hi, I face a issue.
I use the lastet version react-native-jitsi-meet in my project, as you know,it use the 2.x version now,but I make a custom SDK based on 3.0 version,it dosen't works on ios,cause the official sdk name become JitsiMeetSDK from tag 4601.
So,how can I make it work again?What change should I do?

[2021-03-22 16:33] rcidt commented on #154
Interested in this as well

[2021-03-23 16:51] kamarajcalm opened #258 "How to hide the chat options and flagoptions in the ui give me clear explanation"

[2021-03-24 14:01] pkyad commented on #258
reply any one

[2021-03-24 14:03] pkyad opened #259 "building release apk issue on android"
Execution failed for task ':app:mergeDexRelease'.

[2021-03-26 19:45] AustynoChuks commented on #87
@skrafft

[2021-03-26 19:53] AustynoChuks commented on #87
AndroidRuntime: FATAL EXCEPTION: mqt_native_modules
03-26 20:24:13.369  5375  5531 E AndroidRuntime: Process: com.telemed, PID: 5375
03-26 20:24:13.369  5375  5531 E AndroidRuntime: com.facebook.react.common.JavascriptException: TypeError: null is not an object (evaluating 't(r(d[1])).default.Direction'), stack:
03-26 20:24:13.369  5375  5531 E AndroidRuntime: <unknown>@515:132
03-26 20:24:13.369

[2021-03-26 19:55] AustynoChuks commented on #87
import React, { useEffect, useState } from 'react'
import { View, Text, StatusBar, TouchableOpacity } from 'react-native'
import JitsiMeet, { JitsiMeetView } from "react-native-jitsi-meet"

export default function(props){
    const [showJitsi, setShowJitsi] = useState(true)

    useEffect(() => {
        const url = "https://meet.jit.si/chuks_889";
        const userInfo = {
            email: "ew

[2021-03-27 22:22] vijayakm opened #260 "Jitsi with callkeep"
Hi,

Is it possible to use react-native-callkeep (or iOS callkit) with Jitsi to have better notification ?

[2021-03-27 22:27] vijayakm commented on #259
Hi,

maybe this might help you :

defaultConfig {
    multiDexEnabled true // <- add this
}

dependencies {
    implementation 'androidx.multidex:multidex:2.0.1'  // <- add this
}

public class MyApplication extends MultiDexApplication {  // <- change this
    ..............
}

[2021-03-30 20:11] juancebarberis opened #262 "Why there's no index.js on this project?"
Sorry if my question is too stupid, but I just installed it on my React Native (w/Typescript) clean project and I get this error: `Module not found: Can't resolve 'react-native-jitsi-meet'`.

[2021-03-31 07:51] Zurdge opened #263 "Stop Jitsi creating call log in phone."
Hi folks,
Does Jitsi always have to create a log in the phones call history? It might look a little odd/questionable for less tech-savvy people if they suddenly start getting random numbers appearing in their call history.
![Screenshot_20210331_084716](https://user-images.githubusercontent.com/10058489/113109381-dae31280-91fd-11eb-90cf-55d2a2d90def.jpg)

[2021-03-31 14:19] vijayakm commented on #262
Hi,

It's because `@types/react-native-jitsi-meet` is not available to provide TypeScript compile checks.
add // @ts-ignore  to suppress the error.

[2021-03-31 14:23] vijayakm commented on #260
I found the solution

[2021-03-31 14:23] #260 closed

[2021-03-31 15:27] juancebarberis commented on #262
@vijayakm I've added the @ts-ignore, but nothing changes. The same error persists.

[2021-03-31 19:17] vijayakm commented on #262
Could please give us more information, if you write this, you can't have this typescript error

[code]

[2021-04-01 08:20] vijayakm commented on #262
From #84

react-native-jitsi-meet is using WebRTC, WebRTC is not compliant with expo projects. You have to eject your project if you want to use react native jitsi meet.

[2021-04-01 20:27] Sylordster commented on #257
-#import <JitsiMeet/JitsiMeet.h>
+@import JitsiMeetSDK;

-#import <JitsiMeet/JitsiMeetViewDelegate.h>
+@import JitsiMeetSDK;

-#import <JitsiMeet/JitsiMeetUserInfo.h>
+@import JitsiMeetSDK;

It's work for me.

[2021-04-01 20:30] Sylordster commented on #263
You need use call-integration.enabled flag

[2021-04-02 12:47] markarupert opened #264 "Screen Share"
Is it possible to use this to do Android screen sharing?

[2021-04-02 13:20] markarupert commented on #245
I am trying to get the Screen Share working too. Anyone have any luck?

[2021-04-02 13:46] Zurdge commented on #263
@Sylordster Thanks for the reply :)
Jitsi is still very new to me, only been using it a couple of days.
Is the call-integration.enabled flag something I need to do during the self-integration setup?

[2021-04-03 16:57] mhdrezky opened #265 "All Button Not Working in RN 0.64.0 Android"
![image](https://user-images.githubusercontent.com/53600593/113485333-2b48c180-94d7-11eb-8a3c-b32afae4a9b7.png)

### **All button not working in Android but working in iOS.**

I have followed below instruction, and got error in JitsiMeetView
[JitsiMeet.call(url, userInfo); crush Android App
#251](https://github.com/skrafft/react-native-jitsi-meet/issues/251#issuecomment-791387438)

### **My Depend

[2021-04-03 17:48] vijayakm commented on #247
It's because those featureFlag are not available with JitsiSDK version 2.6.
With version 2.8.2 and higher it might be ok

How to do it :

in the gradle file (react-native-jitsi-meet/android/build.gradle)  :

[code]

[2021-04-04 11:14] priyankagupta23pg commented on #265
Yes facing same issue these buttons not working in this library in android..please suggest

[2021-04-05 06:02] pareshsahoo902 opened #266 "Unable to remove the 3-dot menu button in jitsi SDK android."
**.setFeatureFlag("pip.enabled",false)
.setFeatureFlag("toolbox.enabled",false)**
_not working the 3 dot menu is still visible in Android_
![WhatsApp Image 2021-04-05 at 11 29 53 AM](https://user-images.githubusercontent.com/42085222/113542669-67c50c00-9602-11eb-8b07-81b840da3758.jpeg)

[2021-04-05 06:48] priyankahash commented on #266
Are you able to click on borrom 3 buttons in android or its issue?

[2021-04-05 06:49] priyankahash commented on #265
JitsiMeetSDK: [features/app] Error(TypeError){"message":"l.playTouchSound is not a function. facing this issue on clciking these butons

[2021-04-05 06:51] pareshsahoo902 commented on #266
i am able to click on the buttons i am asking is there any way to hide the 3dot menu button on the right of video mute button in Android?

[2021-04-05 07:24] priyankahash commented on #266
share your JItsi version

[2021-04-05 07:38] pareshsahoo902 commented on #266
**org.jitsi.react:jitsi-meet-sdk:2.9.0**

[2021-04-05 09:53] priyankahash commented on #266
share build.gradle in which it is written

On Mon, Apr 5, 2021 at 1:08 PM Paresh Kumar Sahoo ***@***.***>
wrote:

--
*DISCLAIMER*: This e-mail is the property of *HashStudioz Technologies* 
*Pvt. Ltd*. It is intended only for the person or entity to which it is 
addressed and may contain information that is privileged, confidential, or
otherwise protected from disclosure. Distribution or copying o

[2021-04-05 09:58] pareshsahoo902 commented on #266
`plugins {
    id 'com.android.application'
}

android {
    compileSdkVersion 30
    buildToolsVersion "30.0.3"

    defaultConfig {
        applicationId "com.release.jitsidemo"
        minSdkVersion 21
        targetSdkVersion 30
        versionCode 1
        versionName "1.0"

        testInstrumentationRunner "androidx.test.runner.AndroidJUnitRunner"
    }

    buildTypes {
        release {

[2021-04-06 07:26] vijayakm commented on #169
Inside the method call in the class RNJitsiMeetModule,
mJitsiMeetViewReference might be null, which cause black screen !

Workaround:
inside the method call add this :

[code]

[2021-04-06 16:19] priyankahash commented on #265
Needed to downgrade react native version..then issue fixed

On Tue, Apr 6, 2021, 21:30 Muhammad Rezky ***@***.***> wrote:

--
*DISCLAIMER*: This e-mail is the property of *HashStudioz Technologies* 
*Pvt. Ltd*. It is intended only for the person or entity to which it is 
addressed and may contain information that is privileged, confidential, or
otherwise protected from disclosure. Distribution or

[2021-04-06 19:26] vijayakm commented on #249
Hi

may I ask you how have you solved it ?

[2021-04-06 20:58] G10dRafaFan commented on #249
@vijayakm onParticipantLeft is fired when any user has left the call, so you can call that event and add your functionality.

[2021-04-07 08:29] mhdrezky commented on #265
which RN version ..?

[2021-04-07 14:10] sagarsukode commented on #53
I am trying this two line of code but still not working, unable to end the call/conference.

jitsiMeetView?.leave()
jitsiMeetView?.hangUp()

Anyone found the solution?

[2021-04-07 16:35] sajanthomas01 commented on #265
i'm also facing the same issue, but I can confirm that it is working with
`  "react": "16.11.0",
    "react-native": "0.62.2",`
[https://github.com/RocketChat/react-native-jitsi-meet/blob/master/ExampleApp/package.json
](https://github.com/RocketChat/react-native-jitsi-meet/blob/master/ExampleApp/package.json
)
Does anyone have any solution to this issue?

[2021-04-07 18:04] qtdevel commented on #53
Try to join with empty serverURL:

let options = JitsiMeetConferenceOptions.fromBuilder { builder in
        builder.serverURL = nil
}
self.jitsiMeetView.join(options)

[2021-04-08 02:16] priyankahash commented on #265
Yes, it is working. With this version ..Inalso. Found no solution except
this

On Wed, Apr 7, 2021, 22:05 Sajan Thomas ***@***.***> wrote:

--
*DISCLAIMER*: This e-mail is the property of *HashStudioz Technologies* 
*Pvt. Ltd*. It is intended only for the person or entity to which it is 
addressed and may contain information that is privileged, confidential, or
otherwise protected from disclosure.

[2021-04-08 12:10] deepakverma4 commented on #260
@vijayakm  can you please share the solution here?

[2021-04-08 18:49] jemkob commented on #130
This issue still persist, any reasonable solution would be highly appreciated.

[2021-04-10 16:09] vijayakm commented on #260
With Android use this method to launch the notification :

[code]

Then, when you click on 'answer' button use this callback :

[code]

[2021-04-12 12:35] sajanthomas01 commented on #265
I have made a package by improvising the jisi-meet, it would be great if you guys can check it out and fix the bugs in it [https://github.com/sajanthomas01/react-native-jitsi-meet-extended#readme](https://github.com/sajanthomas01/react-native-jitsi-meet-extended#readme)

[2021-04-12 23:12] priyankagupta23pg commented on #266
Downgrading react native version helped for me

[2021-04-13 08:47] Saurabh-WowLabz-Kataria commented on #199
It's a bit late but I was also facing this issue and solved it by adding the below line in android/app/build.gradle:

[2021-04-15 04:19] exneval commented on #265
RN 0.64 is not supported by this package, you need to create a your own native module for this RN version using jitsi sdk, or you can use RN 0.63.4 with this package

[2021-04-16 08:15] kerbaypapilon opened #268 "Customize UI iOS"
Hello,
I want to customize my video call screen (disable some functions etc.) and I read all other issues. I forked the repo and tried to run in two ways:

1. git clone my_dir/react-native-jitsi-meet into my node_modules file and add `pod 'JitsiMeetSDK'` to my Podfile then `pod install`. After that I get error '**TypeError: null is not an object (evaluating 'JitsiMeetModule.call**')' and cannot ru

[2021-04-16 16:35] rcidt commented on #183
@thainx your suggestion works for me. Thank you.

[2021-04-19 10:53] tphuc commented on #199
Solved with:

`settings.gradle`
[code]

`AndroidManifest.xml`
[code]

`android/build.gradle`
[code]
`app/build.gradle`
[code]

[2021-04-21 19:33] vijayakm commented on #266
According to Jitsi-meet GitHub, currently we can't remove the 3-dot menu
source : https://github.com/jitsi/jitsi-meet/issues/6917

[2021-04-21 20:02] pravasok commented on #245
can you guys ask for  update in official repo?, they are not prioritizing, thinking it is not needed by many

@markarupert  @preetgaggu @deepakverma4 @Rectifer

[2021-04-22 16:59] kaustavhazra commented on #247
@vijayakm  but after update 2.9.0 in nodeModule/react-native-jitsi-meet/android/build.gradle file app is crashed when jitsi run

[2021-04-23 06:52] kaustavhazra opened #269 "getting multidex error after upgrad org.jitsi.react:jitsi-meet-sdk:3.4.0"
**org.jitsi.react:jitsi-meet-sdk:2.4.0 is working fine  but org.jitsi.react:jitsi-meet-sdk:3.4.0 getting error at the time of build.**

### ERROR :

`Task :app:mergeDexRelease
D8: Program type already present: com.learnium.RNDeviceInfo.BuildConfig
com.android.builder.dexing.DexArchiveMergerException: Error while merging dex archives:
Learn how to resolve the issue at https://developer.android.com/

[2021-04-23 12:25] skumarcm opened #270 "Android: call aborted. There is another call in progress"
Device details:
-----------------
Android version: 8.1
Phone: LG Xpower 3

Server Configuration Details:
--------------------------------
Self hosted jitsi server
Prosody enabled
Token authentication enabled

Client Configuration Details:
--------------------------------
“call-integration.enabled” set to false

Scenario:
-----------
An un-authenticated guest tries to join a room
Opens up the windo

[2021-04-28 12:37] focalsolution commented on #121
I also face this same problem but on Debug build. I do not use 'react-native-codepush'
Do you have any suggestions?

[2021-04-30 07:39] bayazetyan commented on #121
@focalsolution check your bundle name , you need change `index.android.bundle` to `app.bundle` (or other name)

[code]

do not forget remove old `index.android.bundle` file in android/app/src/main/assets

[2021-04-30 10:53] mustafaefdal1 opened #271 "endCall Function doesnt working manually"
Hello there,

when i use endCall() function like this;
[code]
its working but when I assign this function to phone back button and phone home button, it doesnt end conference.

[code]

how can i fix this problem?

[2021-05-04 03:41] nitis19286 opened #272 "React Native version mismatch."
Hello,
I upgraded react-native 0.59.10 -> 0.62
iOS no problem but on android exception error
[code]

[2021-05-04 05:08] focalsolution commented on #121
@bayazetyan Thank you for your help.
After removing index.adnroid.bundle and us app.bundle instead, I do not see this Exception anymore.

[2021-05-06 03:20] nanhlua96 commented on #251
@alexandrtovmach after trying to do it, something still work abnormal.
- start a call (without member in channel) the screen still black (not display any button) until someone appears.
- on calling (have members in channel), there is no button to cancel or mute the call.
- after call (everyone leave the channel), buttons appear but nothing on press or console error `Did not expect event target to

[2021-05-06 03:50] alexandrtovmach commented on #251
@nanhlua96 I believe things that you have is not related to "Android crash issue", so can't suggest anything here

[2021-05-06 04:14] nanhlua96 commented on #251
@alexandrtovmach thanks,
I also try another way and it not require downgrade netinfo package
that change minSdkVersion and tools.build:gradle in android/build.gradle
![Screen Shot 2021-05-06 at 11 11 59](https://user-images.githubusercontent.com/67305927/117240815-e3adb080-ae5b-11eb-810d-8bdf67a062f7.png)
and in android/app/build.gradle just need
[code]

[2021-05-06 04:23] alexandrtovmach commented on #251
@nanhlua96 is that works for runtime and release?

[2021-05-06 04:27] nanhlua96 commented on #251
@alexandrtovmach I just test on simulator and still working with those unresponsible buttons, but I am you can test it on real devices.

[2021-05-06 04:30] nanhlua96 commented on #251
I face with some change in metro config that the old blacklist has removed
so I replace with exclusion list but i don't really know it correct or not
[code]

[2021-05-06 05:28] alexandrtovmach commented on #251
To be sure that solution form https://github.com/skrafft/react-native-jitsi-meet/issues/251#issuecomment-833210944 works, you need to run app in real-time (emulator), and also compile an APK and run it too. Because I found it a bit annoying when I though that I fixed the issue, and then everything fails on release build

[2021-05-07 13:17] suraj-desai commented on #221
@deepakverma4  I am facing the same issue. Did you find any solution for it?

[2021-05-07 13:19] sanoopks commented on #221
@suraj-desai Did you try restarting the app after  closing it?

[2021-05-07 13:32] suraj-desai commented on #221
It works after restarting but when I save the file it gives the same error again. Is there any permanent solution?

[2021-05-08 02:48] suraj-desai commented on #221
okay. I was using the class component and switched to a functional component which is given in the example app. It is working fine now.

[2021-05-08 04:23] sanoopks commented on #221
@suraj-desai ok, Great

[2021-05-10 15:38] alexandrtovmach opened #274 "Request to be a maintainer"
@skrafft First of all thanks for this great package, it saves me from touching with native part in my projects. I see there are a lot of issues unresolved, and some important PRs just waiting for a long time. I can conclude that you're busy (same as all of us), and open source it's not something in top of priority (at least for majority). But I think we need to continue to support this project, be

[2021-05-13 11:05] levepic commented on #274
Hi Alexandr,

I would join or help you doing this, im going to need this repo for a
production app both for android and ios. I have a mac, can develop for
ios too but have no native experience we might need someone for that
unless there are very simple changes on the native side. I can support
you either way (joining a new repo or maintaining the original).

Levente

2021.05.10. 17:39 keltezéssel,

[2021-05-13 17:09] alexandrtovmach commented on #274
@skrafft friendly ping

[2021-05-14 09:11] skrafft commented on #274
Hi @levepic , @alexandrtovmach. No problem to add you as maintainers. I'll add you to the list of admins. Tell me whenever you think you have a new stable version and I can publish on npm. Remember to follow semantic versioning: https://docs.npmjs.com/about-semantic-versioning for new versions.

@jbg  is already a maintainer.

[2021-05-14 10:23] alexandrtovmach commented on #274
Thanks :+1:
What do you think about setting up CI/CD with auto deploy to NPM?

[2021-05-14 11:18] #274 closed

[2021-05-14 11:35] alexandrtovmach commented on #105
This issue marked as staled!
It'll be closed in 10 days, if there will be no activity. Please let us know if this issue still not resolved and/or bug still reproducing in the latest version.

[2021-05-14 11:36] alexandrtovmach commented on #106
This issue marked as staled!
It'll be closed in 10 days, if there will be no activity. Please let us know if this issue still not resolved and/or bug still reproducing in the latest version.

[2021-05-14 11:36] alexandrtovmach commented on #107
This issue marked as staled!
It'll be closed in 10 days, if there will be no activity. Please let us know if this issue still not resolved and/or bug still reproducing in the latest version.

[2021-05-14 11:36] alexandrtovmach commented on #112
This issue marked as staled!
It'll be closed in 10 days, if there will be no activity. Please let us know if this issue still not resolved and/or bug still reproducing in the latest version.

[2021-05-14 11:36] alexandrtovmach commented on #116
This issue marked as staled!
It'll be closed in 10 days, if there will be no activity. Please let us know if this issue still not resolved and/or bug still reproducing in the latest version.

[2021-05-14 11:37] alexandrtovmach commented on #117
This issue marked as staled!
It'll be closed in 10 days, if there will be no activity. Please let us know if this issue still not resolved and/or bug still reproducing in the latest version.

[2021-05-14 11:37] alexandrtovmach commented on #118
This issue marked as staled!
It'll be closed in 10 days, if there will be no activity. Please let us know if this issue still not resolved and/or bug still reproducing in the latest version.

[2021-05-14 11:38] alexandrtovmach commented on #122
This issue marked as staled!
It'll be closed in 10 days, if there will be no activity. Please let us know if this issue still not resolved and/or bug still reproducing in the latest version.

[2021-05-14 11:38] alexandrtovmach commented on #123
This issue marked as staled!
It'll be closed in 10 days, if there will be no activity. Please let us know if this issue still not resolved and/or bug still reproducing in the latest version.

[2021-05-14 11:39] alexandrtovmach commented on #124
This issue marked as staled!
It'll be closed in 10 days, if there will be no activity. Please let us know if this issue still not resolved and/or bug still reproducing in the latest version.

[2021-05-14 11:39] alexandrtovmach commented on #125
This issue marked as staled!
It'll be closed in 10 days, if there will be no activity. Please let us know if this issue still not resolved and/or bug still reproducing in the latest version.

[2021-05-14 11:40] alexandrtovmach commented on #126
This issue marked as staled!
It'll be closed in 10 days, if there will be no activity. Please let us know if this issue still not resolved and/or bug still reproducing in the latest version.

[2021-05-14 11:40] alexandrtovmach commented on #128
This issue marked as staled!
It'll be closed in 10 days, if there will be no activity. Please let us know if this issue still not resolved and/or bug still reproducing in the latest version.

[2021-05-14 11:40] alexandrtovmach commented on #133
This issue marked as staled!
It'll be closed in 10 days, if there will be no activity. Please let us know if this issue still not resolved and/or bug still reproducing in the latest version.

[2021-05-14 11:41] alexandrtovmach commented on #134
This issue marked as staled!
It'll be closed in 10 days, if there will be no activity. Please let us know if this issue still not resolved and/or bug still reproducing in the latest version.

[2021-05-14 11:41] alexandrtovmach commented on #135
This issue marked as staled!
It'll be closed in 10 days, if there will be no activity. Please let us know if this issue still not resolved and/or bug still reproducing in the latest version.

[2021-05-14 11:41] alexandrtovmach commented on #143
This issue marked as staled!
It'll be closed in 10 days, if there will be no activity. Please let us know if this issue still not resolved and/or bug still reproducing in the latest version.

[2021-05-14 11:41] alexandrtovmach commented on #144
This issue marked as staled!
It'll be closed in 10 days, if there will be no activity. Please let us know if this issue still not resolved and/or bug still reproducing in the latest version.

[2021-05-14 11:42] alexandrtovmach commented on #145
This issue marked as staled!
It'll be closed in 10 days, if there will be no activity. Please let us know if this issue still not resolved and/or bug still reproducing in the latest version.

[2021-05-14 11:42] alexandrtovmach commented on #146
This issue marked as staled!
It'll be closed in 10 days, if there will be no activity. Please let us know if this issue still not resolved and/or bug still reproducing in the latest version.

[2021-05-16 13:51] jplandry908 commented on #107
Hi @alexandrtovmach. I ended up implementing a workaround where I poll an API to see if the meeting has started prior to allowing the mobile device to connect to the call to avoid this issue. I can remove the workaround this week to test and let you know.

[2021-05-16 15:08] alexandrtovmach commented on #107
@jplandry908 sounds like a plan, please test it :wink:

[2021-05-18 18:35] pluck011 commented on #269
Also seeing this, but with @react-native-community/async-storage.

[2021-05-18 19:53] jplandry908 commented on #107
Hi @alexandrtovmach. This is no longer a problem, so I will close the issue.

[2021-05-18 19:53] #107 closed

[2021-05-18 23:05] TarekBaccari opened #277 "RNCNetInfo.getCurrentState got 2 arguments, expected 3 FATAL EXCEPTION: mqt_native_modules"
i m using react-native-jitsi-meet
when invoking the JitsiMeetView component , a crash is is accrued

**information
react native 0.63.4
"@react-native-community/netinfo": "^5.9.5"
hermes disabled**

FATAL EXCEPTION: mqt_native_modules

com.facebook.react.bridge.NativeArgumentsParseException: RNCNetInfo.getCurrentState got 2 arguments, expected 3

FATAL EXCEPTION: mqt_native_modules
Process: com.dia

[2021-05-19 03:05] #272 closed

[2021-05-20 20:19] TarekBaccari commented on #221
i face the same problem using fonction component , any solution please

[2021-05-23 13:31] rickylenon commented on #271
did you find solution for this? i'm having the save issue.

[2021-05-24 20:16] #105 closed

[2021-05-24 20:16] #106 closed

[2021-05-24 20:16] #112 closed

[2021-05-24 20:16] #116 closed

[2021-05-24 20:17] #117 closed

[2021-05-24 20:17] #118 closed

[2021-05-24 20:17] #122 closed

[2021-05-24 20:17] #123 closed

[2021-05-24 20:17] #124 closed

[2021-05-24 20:17] #125 closed

[2021-05-24 20:17] #126 closed

[2021-05-24 20:17] #128 closed

[2021-05-24 20:18] #133 closed

[2021-05-24 20:18] #134 closed

[2021-05-24 20:18] #135 closed

[2021-05-24 20:18] #143 closed

[2021-05-24 20:18] #144 closed

[2021-05-24 20:18] #146 closed

[2021-05-24 20:18] #145 closed

[2021-05-25 19:18] ram95krishh commented on #193
Facing the same issue. Unable to trace the origin of this error by message inside the library too!!

[2021-05-27 13:21] UnSensei commented on #277
implementation(project(':react-native-jitsi-meet')) {
      exclude group: 'com.facebook.react',module:'react-native-locale-detector'
      exclude group: 'com.facebook.react',module:'react-native-vector-icons'
      // Un-comment below if using hermes
      //exclude group: 'com.facebook',module:'hermes'
      // Un-comment any packages below that you have added to your project to prevent `duplic

[2021-05-27 14:14] TarekBaccari commented on #277
i already do  , but it doesn't resolve the problem , for the moment i resolved this issue by uninstalling this package from my app , although i excluded it (exclude group: 'com.facebook.react',module:'@react-native-community/netinfo') but it steal cause the crash , i need to use this package

[2021-05-27 14:16] TarekBaccari commented on #277
i already do , but it doesn't resolve the problem , for the moment i resolved this issue by uninstalling this package ('@react-native-community/netinfo) from my app , although i excluded it (exclude group: 'com.facebook.react',module:'@react-native-community/netinfo') but it steal cause the crash , so i uninstall it for a while ,but i need to use this package after :/

[2021-06-03 04:32] elliscwc commented on #265
any update on this? we are stuck at RN 0.63.4 if this is not fixed

[2021-06-03 06:23] hitanshuGajjar20 opened #278 "How to Replace customizable jitsimeetSDK.framework with the existing jitsimeetSDK.framework (IOS)"
I m using react-native-jitsi-meet, and want a different calling screen UI, so I customized the screen with **jitsi/jitsi-mee**t & build a customized **jitsimeetSDK.framework & webRTC.framework**.

Now, how can I replace these two frameworks with the existing framework?

Anyone can help me Please.
Thank you in Advance

[2021-06-03 06:35] 31Karishma opened #279 "How to Replace customizable jitsimeetSDK.framework with the existing jitsimeetSDK.framework (IOS)"
I m using react-native-jitsi-meet, and want a different calling screen UI, so I customized the screen with **jitsi/jitsi-meet** & build a **customized jitsimeetSDK.framework & webRTC.framework**.

Now, how can I replace these two frameworks with the existing framework?

Anyone can help me Please.
Thank you in Advance

[2021-06-03 06:36] #278 closed

[2021-06-04 11:30] 31Karishma commented on #80
@jean-ben-guigui when I replace framework with new customized framework getting error like this.
anyone can help please.
![image](https://user-images.githubusercontent.com/61228236/120794807-5478e300-c556-11eb-8607-3c545f1d2e56.png)

[2021-06-07 14:28] Saurabh-WowLabz-Kataria commented on #279
@31Karishma  Hey, Even I had a similar requirement. I have update my SDK, can you help me with building a customized jitsimeetSDK.framework & webRTC.framework. What steps did you follow. I tried the ones mentioned in the Jitsi Docs, but that didn't work.

[2021-06-08 04:49] 31Karishma commented on #279
@Saurabh-WowLabz-Kataria,

step 1:- I clone the jitsi-meet repo  **(https://github.com/jitsi/jitsi-meet)**
step 2:- then after install dependencies **(https://jitsi.github.io/handbook/docs/dev-guide/dev-guide-mobile)**
step 3:- after build app & change UI as per requirement
step 4:- and last paste below code on the terminal **(project root path ex: desktop/projects/jitsi-meet-master)**

**mkdir -p

[2021-06-19 15:49] dipankar08 commented on #202
Final sol

    <application
        android:usesCleartextTraffic="true"
        tools:targetApi="28"
        android:allowBackup="true"
        tools:replace="android:allowBackup"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
    </application>

[2021-06-23 12:41] bortolilucas opened #282 "Shows a pop-up "Not Registered on network" on Android"
It keeps showing a pop-up "Not registered on network" every time it starts a call. What does it mean?

![Screenshot_20210626-052722_Phone](https://user-images.githubusercontent.com/73895706/123098078-2543ec00-d407-11eb-88b8-a5eda33713f3.jpg)

[2021-06-25 13:14] kanwar002 opened #283 "Getting error 'com.facebook.react.devsupport.JSException: Invalid regular expression: invalid group specifier name' after installing jitsi meet"
Hey, I installed jitsi meet and followed all the steps in documentation. After installing it when I run on my android device, I got an error

[code]
![WhatsApp Image 2021-06-25 at 11 39 10 AM](https://user-images.githubusercontent.com/56306542/123429816-08fda600-d5e5-11eb-8119-677179560179.jpeg)

When I uninstall jitsi meet and delete code from build.gradle,mainApplication and mainfest, my applica

[2021-06-29 06:27] kanwar002 opened #284 "App crash in release mode"
Hey, I installed `react-native-jitsi-meet` and followed all the steps. But it's crashing on build mode and working on debug mode. I also exclude packages.

that's my app/build.gradle
[code]

android/build.gradle

[code]
mainApplication.java
[code]

my dependencies
[code]

I also added `  xmlns:tools="http://schemas.android.com/tools"` , `tools:replace="android:allowBackup"` and ` <activity android

[2021-07-03 03:31] yakash204 opened #285 "Where it record if i start recording in react-native-jitsi-meet."
If I click on start recording it shows "Your recording will be saved by recording service". What thus it means, and if I click ok it will start recording but don't get where it stores the recording.

[2021-07-03 03:33] jbg commented on #285
Starting a recording invites Jibri to the conference to record it. Jibri is a server-side component, and stores the recording wherever it is configured to store it. You should ask whomever runs the Jitsi Meet server that you're connecting to.

[2021-07-03 03:49] yakash204 commented on #285
But if I used jitsi server(https://meet.jit.si/) then where does it record. Is there is any way to record in dropbox as in the original jitsi meet app?

[2021-07-03 03:57] jbg commented on #285
It should be possible to do the Dropbox integration, but it's not directly supported by this project, so you will have some manual development work to do: you need to set the config key [dropbox](https://github.com/jitsi/jitsi-meet/blob/master/config.js#L205) with an OAuth app key that you set up at Dropbox's developer program, and set the redirect URL to something that will bring the user back to

[2021-07-03 05:29] yakash204 commented on #285
can you explain little bit where i need to do configutation in [react-native-jitsi-meet](https://github.com/skrafft/react-native-jitsi-meet)  i.e. in which file i paste dropbox key

[2021-07-03 08:00] jbg commented on #285
It's not something you can do just through copying and pasting; you'll need to write some code to pass through the app key and handle the OAuth flow. I linked to the relevant config key and an example of handling the OAuth response above.

[2021-07-06 09:25] pm-sharma opened #286 "Archive Build errors"
![Screenshot 2021-07-06 at 2 52 49 PM](https://user-images.githubusercontent.com/41280402/124576456-f0ee1800-de69-11eb-9047-fbff0f366b94.png)

App running successfully but when i'm trying to archive the build getting errors
Any solution?

[2021-07-07 05:38] c0m1t commented on #265
@exneval Could you explain it more? What should be done to solve this issue?

[2021-07-09 07:25] dgreasi commented on #94
Hi guys. @skrafft Thanks for the good work on this project.

I was trying to use both react-native-code-push and react-native-jitsi-meet but with no success.

The library versions i use are the following:

[code]

At first i tried the approach that @skrafft recommended [here](https://github.com/skrafft/react-native-jitsi-meet/issues/94#issuecomment-572567766), but it seems that my code-push versio

[2021-07-09 13:33] dgreasi commented on #94
The problem is at the command:
[code]

Which will always run a "react-native bundle" and name the bundle as "index.android.bundle"

Thus, if i use [this](https://github.com/skrafft/react-native-jitsi-meet/issues/94#issuecomment-572567766) codepush will download the updated bundle but will fail to update due to different bundle names ("index.android.bundle" !== "app.bundle")

If i use [this](https:

[2021-07-14 12:44] RidaRidss commented on #133
same issue , anybody have any solution for these versions

[2021-07-14 17:59] iisraromar commented on #118
app works fine in debug mode but crashes in release build (apk)
  "react": "16.13.1",
  "react-native": "0.63.4",
  "react-native-jitsi-meet": "^2.1.1"

any fixes for this?

[2021-07-15 15:59] tmldsousa commented on #286
As stated by the Jitsi Meet SDK documentation, "Bitcode is not provided in the prebuilt SDK, so turn it off for your project."
To do this you can add this code to your target's post_install on your Podfile:
[code]
Or disable it using XCode (On your main target > Build Settings > Build Options > Enable Bitcode = NO)

Documentation: [iOS SDK · Jitsi Meet Handbook - Using CocoaPods](https://jitsi.git

[2021-07-16 07:58] sowjanyaabburi commented on #60
Hi , I have implemented Jitsi Meet iOS sdk but still showing black screen I don't know what is going wrong in it can you please help me find out

here is my code

  let jitsiMeetView = JitsiMeetView()
        jitsiMeetView.delegate = self
        self.jitsiMeetView = jitsiMeetView
        let defaultOptions = JitsiMeetConferenceOptions.fromBuilder { (builder) in
                  // for JaaS repla

[2021-07-16 08:13] techiespace commented on #257
@Sylordster thanks for your answer after this change I was able to get the SDK working. However toggle camera and microphone on/off buttons are not working for me. When the meeting starts mic and camera is on. When I click on the buttons it turns off as expected but I cannot turn it back on again.
When the meeting loads I get this error:
[code]

After tuning mic off:
[code]
There are no logs when

[2021-07-16 08:58] #257 closed

[2021-07-16 08:59] Sylordster commented on #257
I used the version 3.2 SKD

[2021-07-21 03:33] suraj-desai commented on #118
same issue for me

[2021-07-21 08:17] #263 closed

[2021-07-21 15:38] iisraromar commented on #118
@suraj-desai
 1: make your minSdkVersion 24
 2: add this to you mainapplication.java file
  @Override
        protected @Nullable String getBundleAssetName() {
          return "app.bundle";
        }
 3: add this to manifest file with manifest tag:
    xmlns:tools="http://schemas.android.com/tools"
 4: and this to your android/app/build.gradle file:

     project.ext.react = [
    entryFile: "ind

[2021-07-23 09:15] Muhametzhan-BG commented on #265
+1

[2021-07-31 14:14] pycproductions commented on #269
I'm facing the same issue. Did you manage to solve it ?

[2021-08-09 04:20] hanifmhd commented on #269
any solution about this?

[2021-08-10 06:58] hanifmhd commented on #255
i just got same error

[2021-08-13 03:26] hanifmhd commented on #94
can you share your error log?

[2021-08-13 08:00] hanifmhd commented on #90
so the solution is disabling the codepush?

[2021-08-14 22:37] hanifmhd commented on #284
Can you share your error log?

[2021-08-15 12:50] hanifmhd commented on #265
+1

[2021-08-18 13:02] Brumor opened #291 "How to use react-native-jitsi-meet alongside an already existing webrtc implementation?"
I work for a videochat company and we currently have our own implementation of `react-native-webrtc` that we use for videocalls, we would like to switch to jitsi but we need to A/B test it first, therefore having both our implementation of webrtc and jisti along side.

Currently when I add jitsi it crashes the app directly on simulator ("`dyld: Symbol not found: __ZdaPv`"), and crashes when the ca

[2021-08-18 13:07] aizenka opened #292 "Publishing a package with an updated version of the SDK"
Hey, when will you publish the new version of the package?

[2021-08-18 13:32] zheoreh commented on #265
+1

[2021-08-18 13:35] aizenka commented on #265
+1

[2021-08-18 13:35] zheoreh commented on #265
@skrafft does your community have any plans to support RN 0.64?

[2021-08-18 13:40] SokolovaOksana commented on #265
+1

[2021-08-19 10:22] Marinaarimany commented on #213
@progressify
I solved it by disabling the callkit and updating the sdk ;)

[2021-08-19 10:22] #213 closed

[2021-08-19 12:18] Marinaarimany opened #293 "Problem with Promise.resolve in GetUserMediaImpl.java"
Hello,
Currently I am working on a project which implements the Jitsi sdk (version 3.8.0).
I have a problem when I am on a video call and I click on screen sharing, the application crashes and the logcat returns to me:

AndroidRuntime: FATAL EXCEPTION: main
Process: name package, PID: 25268
java.lang.RuntimeException: Failure delivering result ResultInfo{who=null, request=10751, result=-1, data=In

[2021-08-19 14:08] Marinaarimany commented on #293
@skrafft Can you help me please ?

[2021-08-20 14:54] Marinaarimany opened #294 "Change the characteristics of the flags according to the user if this one is a moderator or not"
Hello,

I would like to activate or deactivate features such as live broadcasting.
I would like it to be visible when the user is a moderator and not visible to others.
I managed to do it on android by modifying the code of this library but I can't do it on the ios side.

The sdk is on the last update, as well as the library and I am in react native 0.63.3

Can you help me please ?

Thank you Best

[2021-08-23 05:17] projectzenda opened #295 "black scren only on ios react native 0.65.0"
Hi All,

Please help, i got black screen only when running react native jitsi meet, on react native 0.65.0 react 17.0.2, is it have compatible issue on newest react native?

I think already follow all installation instructions

[2021-08-23 06:17] saranya20-t commented on #291
I'm also facing the same issue. Did you find any solution for that?

[2021-08-23 07:13] Brumor commented on #291
Hey @saranya20-t, what I did for iOS was to
1 - Clone the [jitsi-meet project](https://github.com/jitsi/jitsi-meet)
2 - Go through  this tutorial: https://jitsi.github.io/handbook/docs/dev-guide/dev-guide-ios-sdk
3- You get two `.xcframeworks` files: one WebRTC and one for Jitsi, I ignored the WebRTC one and copied the JitsiMeet one to my project [following this guide](https://www.simpleswiftguide

[2021-08-23 13:58] Brumor commented on #269
So the RNDeviceInfo, I solved by adding the exclude:

[code]

but now it's complaining about the async storage even though I have that one excluded too already, if someone finds something please let me know

[2021-08-25 07:49] peeratattt commented on #295
I same got black screen it, but got in android.

[2021-08-25 15:30] Marinaarimany commented on #295
Hii,
I am in React-Native 0.63.3 and no worries on my side, update the sdk jitsi in the library manually or then downgrade the version of React native to see if it works

[2021-08-25 15:34] Marinaarimany opened #296 "The feature flag android.screensharing.enabled not work !"
Hi :)

After updating the android sdk, I would like to remove the screen sharing setting which is not working in this library.
Change to perform:
                                .setFeatureFlag ("android.screensharing.enabled", false)

in the call and audio call functions of RNJitsiMeetModule

React-Native: 0.63.3
Jitsi SDK: 3.8.0

Can you help me ?

Thank you Best regards

[2021-08-25 15:38] Marinaarimany commented on #245
Hiii :)

problem solved ?

Thank you

[2021-08-26 13:33] RidaRidss opened #297 "This Package Updates are not available On npm (version 2.1.2)"
@skrafft kindly update this package on npm as well.

if user is trying to install this package via npm , it install previous version that is 2.1.1

<img width="1280" alt="Screenshot 2021-08-26 at 6 37 21 PM" src="https://user-images.githubusercontent.com/11027366/130972817-f3f5ce10-84e6-4973-a987-619558df93d7.png">

[2021-08-29 15:24] rohitgarg20 commented on #265
+1
I am also getting the same issue.Does anyone able to fix it ?

[2021-08-31 08:47] DUYTUNGPHAM opened #302 "You have been disconnected in my phone"
E/JitsiMeetSDK: [features/base/lib-jitsi-meet] Failed to load config from http://meet.jit.si/config.js?room=tug Error(AbortError){"message":"Aborted","stack":"DOMException@index.android.bundle:135:6514\nonabort@index.android.bundle:135:7422\ndispatchEvent@index.android.bundle:126:5676\nvalue@index.android.bundle:121:5993\nvalue@index.android.bundle:121:5621\nl@index.android.bundle:135:6840\ndispat

[2021-09-01 08:19] #294 closed

[2021-09-03 05:11] DUYTUNGPHAM opened #303 "Cannot build app if using libs webrtc"
Execution failed for task ':app:checkDebugDuplicateClasses'.

e (com.stringee.sdk.android:stringee-android-sdk:1.7.1)

[2021-09-07 12:35] dfabreguette-ap commented on #137
If you use expo (like me) only solution I found was ejecting the app (generating ios / android projects) and then run the project with xcode / android studio.
Looks like external modules are not working fine with expo : https://expo.canny.io/feature-requests/p/webrtc

[2021-09-07 15:09] Marinaarimany commented on #269
=>        exclude group: 'com.facebook.react',module:'react-native-async-storage'

[2021-09-07 15:11] Marinaarimany commented on #259
Hello,

implementation(project(':react-native-jitsi-meet')) {
        exclude group: 'com.facebook.react',module:'react-native-async-storage'
        exclude group: 'com.facebook.react',module:'react-native-webview'
}

in build.gradle (:app)

implementation ('org.jitsi.react:jitsi-meet-sdk:3.8.0') {   -> last version
      exclude group: 'com.facebook.react',module:'react-native-device-info'

[2021-09-08 06:23] skrafft commented on #297
@RidaRidss published, sorry for the delay

[2021-09-08 06:23] #297 closed

[2021-09-09 11:07] saifulnizar opened #304 "App force close release apk"
Hello,
my aplication force close after install release apk .
but in dev no problem.

app/build.gradle

project.ext.react = [
    entryFile: "index.js",
    bundleAssetName: "app.bundle",
    enableHermes: false,
]

packagingOptions {

      exclude 'META-INF/react-native-webview_release.kotlin_module'
 }

 implementation(project(':react-native-jitsi-meet')) {
      // exclude group: 'com.facebook.

[2021-09-09 14:52] salmaankhan28 commented on #295
{
  "name": "EversafeExams",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "android": "react-native run-android",
    "ios": "react-native run-ios",
    "start": "react-native start",
    "test": "jest",
    "lint": "eslint ."
  },
  "dependencies": {
    "react": "17.0.2",
    "react-native": "0.65.1",
    "react-native-jitsi-meet": "^2.1.2"
  },
  "devDependencies": {
    "@babel/c

[2021-09-09 15:37] Marinaarimany opened #305 "Program type already present: com.reactnativecommunity.asyncstorage.AsyncLocalStorageUtil"
Hello everyone,

I have an application that uses this library (latest version). When I run it in debug it works by launching the metro server. On the other hand when I want to create an apk I have this error which appears:

AGPBI: {"kind": "error", "text": "Program type already present: com.reactnativecommunity.asyncstorage.AsyncLocalStorageUtil", "sources": [{}], "tool": "D8"}
com.android.builder

[2021-09-10 00:24] johnhwang87 commented on #305
Try npm installing @react-native-async-storage/async-storage, the community one I was using was deprecated.
And then in your build.gradle file:
exclude group: 'com.facebook.react',module:'react-native-community-async-storage'

[2021-09-10 01:53] peeratattt commented on #295
i try to downgrade react-native 0.63.4 it work

[2021-09-10 02:23] salmaankhan28 opened #306 "Picture in Picture mode Not Working"
![Screenshot_1631239318](https://user-images.githubusercontent.com/83919310/132788569-44c614c3-e2be-4a43-9434-2e5268c85b0c.png)

Picture In Picture Mode not working in react native versions 0.64.0 ,  0.65.0, 0.63.3, 0.63.4

![Screenshot_1631240435](https://user-images.githubusercontent.com/83919310/132788890-ab0766f4-ca57-447f-ac0a-d5c8ec28a8b6.png)

Picture In Picture Mode button not working in r

[2021-09-10 07:35] Marinaarimany commented on #305
@johnhwang87 Thank you, it works I just have an error in itself to correct I do not know if you can help me or not.

 When I run my apk I have this problem: Unable to load script. Make sure you're either running a Metro server (run 'react-native start') or that your bundle 'app.bundle.nameproject' is packaged correctly for release

I know I need to do this line: react-native bundle --platform andr

[2021-09-10 13:19] pcpatidar4488 commented on #266
Anyone find solution of How to remove the 3-dot menu button in jitsi android SDK?
Thanks in advance.

[2021-09-10 17:33] johnhwang87 commented on #305
Hmm, I'm not sure. I use the gradlew commands to build out our apk/aab files. You might find this helpful:
https://reactnative.dev/docs/signed-apk-android

For our project, we use ./gradlew assembleRelease to create our signed apk for testing, and ./gradlew bundleRelease for aab (make sure you are in your android directory when running those commands).

[2021-09-13 15:13] #305 closed

[2021-09-13 15:29] Marinaarimany opened #307 "Unable to load script. Make sure you're either running a Metro server (run react-native start) or that your bundle 'app.bundle.name' is packaged correctly for release."
Hello,

Currently, I have this error when I start my app in debug and suddenly I also have it when I make an apk but with the release version we cannot launch the server with react-native start. Can you help me please ?

To know :
- react native v0.63.3
- react-native-jitsi-meet 2.1.1 (android sdk in v3.8.0)
- The line: npx react-native bundle --platform android --dev false --entry-file index.js -

[2021-09-14 01:22] techychen commented on #80
@31Karishma did you solve the problem?

[2021-09-14 01:34] techychen commented on #80
I could solve the problem by changing the script a little.
[code]
This is where my `jitsi.sh` is located.

![image](https://user-images.githubusercontent.com/84860257/133179976-9c9edf6d-4c35-4fbb-9d03-b60fe4a9bc8d.png)

[2021-09-14 03:01] rusliabdulgani opened #308 "Not always success load video, only loading"
Hi All,

Newbie here, i already implement react native jitsi meet, but somehow, the conference not always success especially when try to 2,3 next attempt. at first load, its working properly, but when i end call and go back navigation, and start call again, it will be loading always and only show bottom button bar, in opponent (i use web base) its show the video and audio, pls help.

[code]

[2021-09-14 09:52] #307 closed

[2021-09-17 21:06] mayconmesquita commented on #303
@DUYTUNGPHAM to avoid this error you must compile your own webrtc, using another package name (eg. org.webrtc -> alt.webrtc).

I did it here and it works successfully.

You can install from my fork (see the last 3 commits): https://github.com/mayconmesquita/react-native-webrtc

[2021-09-18 05:20] mahidaparth7 opened #309 "Code signing "JitseeMeet.framework" failed"
I am using this package with 8x8.vc for video calling in my ios app.
To make 8x8 work with react native jitsi meet, I replaced the url and it works fine in debug build.

When I try to generate release build I get below error.
**Code signing "JitseeMeet.framework" failed**
React Native : 0.63.1
react-native-jitsi-meet : 2.1.1
xCode : 13

Not sure what's causing this. Certificate or something else

[2021-09-20 13:18] Marinaarimany opened #310 "Black Screen IOS"
I get a black screen when I access video for the first time, just after accepting camera microphone and local network permissions on ios 14. And the connection status of the call seems to be lost.
I am using the latest version of this library and react native 0.63.3.

Can you help me ?

Thank you

[2021-09-20 23:22] mayconmesquita commented on #226
I also facing the same issue. Any updates here?

[2021-09-21 07:15] suraj-desai commented on #134
https://community.jitsi.org/t/trying-to-remove-react-native-immersive-for-disable-fullscreen/61763
This might help

[2021-09-21 11:15] Brumor commented on #291
Okay so ended up doing the solution above and doing some hack to still use the original `react-native-jitsi-meet`for Android, closing

[2021-09-21 11:15] #291 closed

[2021-09-22 08:45] #309 closed

[2021-09-22 14:21] subhadeepshome1 commented on #117
Hello, i am using rn 0.63.4 and jitsi meet version 2.1.1 and here's my code problem is as to the subject

[2021-09-23 09:40] hungtd97 commented on #221
Still occurs on Android device, any solution?

[2021-09-23 13:50] subhadeepshome1 commented on #208
@Hameed-asfar your solution is working...... but when i build debug app the app is not opening saying

unable to load script make sure you are either running a metro server or bundle 'app.bundle' is packaged correctly

[2021-09-24 07:59] dgreasi opened #312 "App crashes on Xcode 13 when used with reanimated"
After updating to the latest Xcode 13 it seems that when "react-native-jitsi-meet", "react-native-reanimated" are used together the build fails with a weird error.

<img width="812" alt="134523831-1929f1e3-abb2-4e2c-892f-d5b80a55117f" src="https://user-images.githubusercontent.com/56590577/134639358-f229b230-fc13-41b2-8911-8008549a6bdc.png">

A reproducible repo can be found [here](https://github.

[2021-09-24 15:58] Marinaarimany commented on #310
@skrafft  Can you help me please ?

[2021-09-27 14:11] skrafft commented on #310
I had the same issue with RN 0.65.1 on Android (not on iOS though). Ended up doing something ugly (added 200ms wait time and force re-render) but working:

[code]

[2021-09-27 14:29] Marinaarimany commented on #310
Thank you @skrafft  for this answer, on my side I updated the ios sdk to 3.10.2 and I no longer have this problem for the moment :)

[2021-09-27 14:30] #310 closed

[2021-09-29 14:55] MUmer01 commented on #269
I was facing the issue by this `@react-native-async-storage/async-storage` specific package and able to fix it by adding

`dependencies {
    ...
    implementation(project(':react-native-jitsi-meet')) {
        ...
        exclude group: 'com.facebook.react',module:'react-native-async-storage'
        ...
    }
    ...
}`
this in `android/app/build.gradle` this file.

[2021-09-29 15:01] MUmer01 commented on #259
I was facing the `duplicate_classes` issue while creating release APK  by these two
`react-native-device-info`
`@react-native-async-storage/async-storage`
packages and able to fix it by adding

[code]
this in `android/app/build.gradle` this file.

[2021-09-29 20:16] joaodematejr commented on #296
Do you have a sample project so we can run the tests?

[2021-09-30 07:57] Marinaarimany commented on #296
No sorry :/
Could this be from the server I am using which is not up to date in your opinion?

[2021-10-05 18:59] danchily2 commented on #255
Same here, no solution in sight ?

[2021-10-10 11:21] Draigs commented on #295
I got it working with 0.65.x using solution 2 from https://github.com/skrafft/react-native-jitsi-meet/issues/117#issuecomment-636263779

[2021-10-11 05:56] subhash4android commented on #72
Build issue solved. but app is crashing while launching in release mode.
Any solution for this.

Thanks.

[2021-10-12 15:33] LeQuy-123 commented on #284
I have same problem, the app work well in debug mode but crash in release mode.
When I disable hermes in app/build.gradle  it not crash anymore, I am already exclude hermes when implementation jitsi meet

[2021-10-17 14:10] kmlrmdhn commented on #103
i am still

i am still getting error, with the same problem
Type com.reactnativecommunity.asyncstorage.AsyncLocalStorageUtil is defined multiple times: /Users/igoid/Projects/hyperloops/e-learning-mobile-app/node_modules/@react-native-async-storage/async-storage/android/build/.transforms/032946524e89738b5ed9d7dfe79a5e41/classes/classes.dex, /Users/igoid/Projects/hyperloops/e-learning-mobile-app/and

[2021-11-02 12:41] KolissnikBogdan opened #318 "Target has frameworks with conflicting names: webrtc.xcframework IOS"
**Description**:
In my react-native app i have install react-native-webrtc and react-native-jitsi-meet packages, when i try to install pods, on pre install hook phase i have this error:
target has frameworks with conflicting names: webrtc.xcframework

**Steps to reproduce:**

1. Open terminal
2. type and run command: cd ios && pod install

**Expected behavior:**
Pods is installed

**Actual behavio

[2021-11-02 13:11] KolissnikBogdan commented on #318
@skrafft please can you help me with this error?

[2021-11-03 08:57] suraj-desai commented on #226
facing the same issue. Does anyone know any solution?

[2021-11-07 16:39] Lekhrajk opened #319 "App is crashing in android"
Whenever i am trying to open jitsi-meet screen my app is getting crashed again and again without giving any warning or errors.

Anybody know why this is happening i have followed all mentioned steps as here
[(https://www.npmjs.com/package/react-native-jitsi-meet#android-install
)]

react-native version : 0.63.4
react : 16.13.1
react-native-jitsi-meet : ^2.1.2
android device : realme 1
node version

[2021-11-08 15:27] dogukan9 commented on #312
I got same issue please I need your help

[2021-11-09 14:12] ashankaushalya97 commented on #104
Any solution for this? @thiagobrez @jbg

[2021-11-09 15:07] thiagobrez commented on #104
@ashankaushalya97 Sorry, I don't remember how this got solved

[2021-11-10 10:42] icc-romeu commented on #312
Just in case it helps to solve the problem, I have been digging around and I found that Jitsi Meet SDK uses react native and it includes React Native Reanimated for some UI libraries:

[code]

And, of course, it is a really old version. Current one is `2.2.4`. By the way, both dependencies (material-top-tabs and  react-native-tab-view) have newer version without these dependencies.

On the other h

[2021-11-10 14:52] SabriGhazali commented on #134
I just added this and its working !!

[code]

[2021-11-11 07:36] saheemhussainchicmic commented on #308
Same issue. Did you find any solution?
I want to add to it:
 - The "onConferenceJoined" function doesn't get called the second time we join the meeting. It works alternatively.

[2021-11-11 07:38] saheemhussainchicmic commented on #120
Did anyone find any solution?

[2021-11-11 12:45] mubashiralisiddiqui commented on #319
I am having the same issue
no error and app is getting crashed
while calling
JitsiMeet.call
 "react-native": "0.63.3",
 react-native-jitsi-meet: 2.1.1,

[2021-11-11 15:17] hypnocill opened #320 "Black screen after updating to react-native v0.66.2"
Previously, I've used a custom android build of jitsi-meet in an the app with react-native v0.63.4 and react-native-jitsi-meet v2.1.1.
After updating the react-native version to v0.66.2, open a video call inside the app results in a black screen and nothing happens.

Anyone with an idea how to fix that?

JS errors are not shown. Adb logcat had the following output (in case it could be useful):
` 1

[2021-11-12 05:10] saheemhussainchicmic commented on #320
Blank screen here in 0.64.2 as well.

[2021-11-12 05:38] saheemhussainchicmic opened #321 "'onConferenceJoined' not getting fired sometimes, leading to 'JitsiMeetView' not rendering followed by a black screen"
As stated, I am having an issue with this library. One time I am able to join the meeting and every event is getting fired properly, but when I terminate the call and join back the 'onConferenceJoined' event is not getting fired leading to 'JitsiMeetView' not getting rendered followed by a black screen. The above process repeats again and again.

Versions in package.json:
"react": "17.0.1",
"react

[2021-11-12 20:30] Tesmi commented on #179
any updates?

[2021-11-13 05:58] eskiesirius commented on #179
sad no updates

[2021-11-14 14:20] Tesmi commented on #319
for not use "react-native": "0.62.2" and react-native-jitsi-meet: "2.1.1", this version also has a lot of bugs but at least you can stream.

[2021-11-18 03:53] AshokkumarDev opened #322 "Screen share support for iOS"
Considering that the screen share in iOS is a native functionality using broadcast extension. How can we implement that for the apps using react native SDK?

[2021-11-18 10:39] saheemhussainchicmic commented on #255
Same Issue, any solution?

[2021-11-18 13:17] saheemhussainchicmic opened #323 "Getting NativeModule.RNPermission is null; Using react-native-jitsi-meet on android; App crashing"
Using react-native-jitsi-meet and as soon as I call JitsiMeet.call() I am getting a crash on android. I am getting these errors on the android studio logcat: react-native-gesture-handler module was not found. Make sure you're running your app on the native platform & Error: react-native-permissions: NativeModule.RNPermissions is null.

Please suggest how to fix this crash

[2021-11-18 18:47] cleandersonlobo commented on #265
+1

[2021-11-22 05:07] saheemhussainchicmic commented on #265
Any solution?

[2021-11-22 13:24] saheemhussainchicmic commented on #245
@Marinaarimany How did you do it?

[2021-11-24 09:40] monikapn opened #324 "audio/video is muted for conference call"
React native jitsi meet works fine when two people are involved but when there are more people added in the conference call, the caller can not see the other participant's video even though the video is not muted by receiver(by default other participants' audio/video is muted).

[2021-11-24 09:43] Praveen-2597 opened #325 "While In Conference call, Video & mic is getting Mute Automatically of other participants."
![IMG-20211123-WA0004](https://user-images.githubusercontent.com/54302323/143213269-c4754a2b-ce87-42ad-b4dc-51bba8cf40f8.jpg)
![IMG-20211123-WA0005](https://user-images.githubusercontent.com/54302323/143213273-1b3ea3a2-47b3-4fe6-a5d3-d42dae181875.jpg)
![IMG-20211123-WA0003](https://user-images.githubusercontent.com/54302323/143213276-bc059f29-4333-4f75-b311-039674b43510.jpg)

As you can see in scr

[2021-12-05 01:33] 06065044 opened #326 "There is no active conference, not updating last N"
when i start the meet using java code
 URL serverURL;
        try {
            serverURL = new URL("https://meet.jit.si");
        } catch (MalformedURLException e) {
            e.printStackTrace();
            throw new RuntimeException("Invalid server URL!");
        }
        JitsiMeetConferenceOptions defaultOptions
                = new JitsiMeetConferenceOptions.Builder()
                .

[2021-12-08 10:56] Tesmi commented on #321
any updates?

[2021-12-08 11:06] saheemhussainchicmic commented on #321
This issue was there in iOS only and I solved it by doing following:
1. In 'react-native-jitsi-meet.podspec' under 'node_modules/react-native-jitsi-meet', upgrade 'JitsiMeetSDK' to '3.10.2'
2. Downgraded react-native version from 0.64.3 to 0.63.4. Apparently this library doesn't work well with react-native versions > 0.63.4

[2021-12-08 11:56] sakismts commented on #245
A work around to make it work on android is on the native module to add a static method which will include from JitsiMeet  SDK the JitsiMeetActivityDelegate.onactivityResult. The static method should be called from your Mainctivity onActivityResult. This workaround has to do with the prompt for casting or recording when you press schreen sharing. When you press ok the MainActivity on activity resu

[2021-12-08 12:00] saheemhussainchicmic commented on #245
Can you share the final code, if you solved it already?

[2021-12-12 05:19] pruthwiz opened #328 "Error while running in android studio"
Could not HEAD 'https://dl.bintray.com/hani-momanii/maven/com/facebook/react/react-native-amplitude/2.3.3-jitsi-8711917/react-native-amplitude-2.3.3-jitsi-8711917.pom'

I am using
 implementation ('org.jitsi.react:jitsi-meet-sdk:3.+') {
        transitive = true
     //   exclude group: 'com.facebook.react', module: 'react-native-webrtc'

    }

[2021-12-14 01:32] imanesaurus commented on #320
Hi guys, I've some workaround or solution about this issue. Seems like the component is not updated even we tried to add setTimeout.  That's why we always got blank screen.
So the solution is passed the url or "key" as a props, on useEffect, and adding it as dependency. It works for me in RN66.4

`
 <JitsiComponent room={"/yourroom"} />
`

On Jitsi Component, passed the room props
`  const joinCal

[2021-12-15 05:18] saheemhussainchicmic commented on #320
Best so

Solution that worked for me was to use react-native version 0.63.4

[2021-12-22 15:51] vphutane27 opened #329 "How to solve call can't be placed issue in android"
I am using one plus 7 phone whenever I try to place a call following alert message is shown.  in Addition I am not able to click any control.
I am using following version
`"react-native": "0.66.4",
"react-native-jitsi-meet": "^2.1.2"`
![WhatsApp Image 2021-12-22 at 9 16 12 PM](https://user-images.githubusercontent.com/88331049/147119083-efe9b8c2-eee1-4401-8cc8-dd8316857b6e.jpeg)

[2021-12-23 13:29] AshishParmar1209 opened #330 "Can we create meeting from Mobile ?"
Hello, i am integrating react native jitsi meet and wanted to start meeting from mobile. is it possible ? if yes then how ? if no then what to do in this case ?

[2021-12-26 20:48] huzaifaazim0 opened #331 "Buttons are not working..."
i am on
[code]

and not a single button is working
which versions should i use? so that buttons work properly.

i used the "exampleApp" buttons were working fine but disabling chat feature didnt work

 i need this working with chat features disabled...

[2021-12-27 09:08] supershik opened #332 "App is not working when using with react-native-reanimated on iOS"

[2021-12-27 10:58] g3vxy commented on #332
Related to #312

[2021-12-28 19:32] professionally commented on #85
The solution of @fritzfr works like a charm.
You can even have the same Stack as before, by passing the current routes as parameter.
With this solution, your stack flow will not be corrupted.

navigating to the Jitsi view containing the Jitsi-View:
[code]

navigating back:
[code]

Thanks to all!

[2021-12-28 19:43] professionally opened #333 "Added Features: Support for Options and FeatureFlags ++ SDK upgrade"
Hi!

I'm using React Native 0.63.4 as advised but nevertheless Jitsi SDK made lots of problems.
So I updated the SDK for IOS and added Support for Options and featureFlags, to disable toolbox, or set any settings.

To add support for featureFlags and options, it isn't really much afford to accomplish:

Here are my changes, that I made:
[code]

You can make those changes in your NPM-module and then

[2021-12-29 04:32] AshishParmar1209 opened #334 "How to hide all member's avatars(Joined Users Videos) from conferencing ?"

[2021-12-29 05:14] rizbud commented on #333
Can you fork this library and create a pull request?

[2021-12-29 08:16] skrafft commented on #333
@rizbud I'll include this patch in the next version
@professionally Thanks a lot for the improvement.

[2021-12-29 08:42] skrafft commented on #333
Patched in https://github.com/skrafft/react-native-jitsi-meet/commit/2582aff50883b75a612572b4de1fa730a882c02a

[2021-12-29 08:42] #333 closed

[2021-12-29 09:29] professionally commented on #333
I forgot to mention: It's tested within my project with ios and android but I never testet all features, only some of them.

Thanks

[2021-12-30 07:12] andika-andriana commented on #331
hi @huzaifaazim0 ,

I thing your issue relate with [this](https://github.com/jitsi/jitsi-meet/issues/8948#issue-850157509)
I facing same problem and solve that by downgrading my react-native version to 0.63

[2021-12-30 14:19] vphutane27 commented on #331
I am facing the same problem, not a single button working

[2022-01-01 09:52] AshishParmar1209 commented on #334
![Simulator Screen Shot - iPhone 11 - 2022-01-01 at 15 20 41](https://user-images.githubusercontent.com/57842141/147848095-b84ddedd-7911-45b0-b800-2c1aa0f50c91.png)

[2022-01-01 16:41] huzaifaazim0 commented on #331
yes 0.63 works but while using 0.63 i get about 25 high level vulnerabilities...
if someone can give me a hint what breaks this lib in 0.64 then maybe i can spare some time to add support for 0.64

[2022-01-02 11:48] huzaifaazim0 opened #335 "Video and audio is not transmitting to other users through self hosted jitsi meet...."
i self hosted jitsi meet
and created a project with react-native 0.63
users can join rooms, leave rooms, see other joined users, send text messages
**But users can not transmit video and audio to other users in the same room**
others users cannot see video and audio feed of different users

[2022-01-05 11:39] dgreasi commented on #187
The problem is with the version of '@react-native-community/netinfo' library. I built the jitsi-meet sdk after upgrading the library to v5.0.0, which is what i use in my project too.

[2022-01-06 08:15] riyas145 opened #336 "Touch function not working Video,Audio,call End and all other touchable are not working"
"react": "17.0.2",
    "react-native": "0.66.4",
    "react-native-jitsi-meet": "^2.2.0"

[2022-01-06 08:27] riyas145 commented on #320
@saheemhussainchicmic are able to touch those button ? button functions are working fine for you?

[2022-01-06 08:31] saheemhussainchicmic commented on #320
For, anything above react-native 0.63.4? No. Buttons didn't work for me.

[2022-01-06 08:31] saheemhussainchicmic commented on #320
For, anything above react-native 0.63.4? No, buttons didn't work for me.

[2022-01-06 08:47] riyas145 commented on #320
any solutions for that ?

[2022-01-07 00:58] rizbud commented on #336
same here

[2022-01-07 01:22] rizbud commented on #331
same here. downgrade react-native version is not the best solution

[2022-01-07 04:26] riyas145 commented on #320
@saheemhussainchicmic  did u find any solution for the latest RN version?

[2022-01-07 05:43] riyas145 commented on #336
@rizbud  did u find any solution for that?

[2022-01-07 16:07] dgreasi commented on #320
Got the same problem with **0.64.2** react native only on android. I use a custom **jitsi-meet** for my needs.

In my case the solution was to delete a **setTimeout** that i had in my main useEffect.

[2022-01-07 16:16] saheemhussainchicmic commented on #320
I ended up using RN 0.63.4. I didn't try the latest react-native-jitsi-meet release yet though.

[2022-01-07 16:25] dgreasi commented on #331
Got it working with the following:

[code]
but it was neccesery to build the `jitsi-meet` library myself, and update the `react-native` that `jitsi-meet` uses to `0.64.2`.

The error occurs because of [that](https://github.com/jitsi/jitsi-meet/issues/8948#issuecomment-856566676).

In short, the reason is that `3.6.0` sdk of `jitsi-meet` uses a `react-native` version < `0.64.0`, in which `react-nat

[2022-01-07 16:36] riyas145 commented on #320
@dgreasi  can u please help how can i use jitsi-meet for react native ?

[2022-01-07 17:35] saheemhussainchicmic commented on #320
No issue, but I am occupied for a couple of days. If that's ok, how would we connect?

[2022-01-08 05:02] riyas145 commented on #320
@saheemhussainchicmic if possible can u please share demo code ?

[2022-01-08 06:37] saheemhussainchicmic commented on #320
There's nothing new in the code that's not in the Example app. Just upgrade jitsi-meet sdk to 3.10.2 in node_modules, for both Android and iOS, and RN 0.63.4

[2022-01-08 06:41] riyas145 commented on #320
After Updating that that all functions are working ? if you don't mind can u please tell me where I will need to change the versions

[2022-01-08 06:46] riyas145 commented on #320
![err](https://user-images.githubusercontent.com/57698276/148634755-0d8ebaea-361d-402e-b2ec-2931f8c68f8e.png)
I'm Getting this error pls help @saheemhussainchicmic

[2022-01-08 08:02] saheemhussainchicmic commented on #320
I don't think this is jitsi related. Can you share the full logs?

[2022-01-08 12:14] riyas145 commented on #320
@saheemhussainchicmic thanks for your help man now issue got fixed i'm using RN 0.63.4 jazakallah khair.

[2022-01-08 13:15] riyas145 commented on #257
@Sylordster How to use custom sdk for new react native version?

[2022-01-08 14:12] riyas145 opened #337 "While Call jitsi view inside StackNavigation i was getting the specified child already has a parent. your must call removeView() on the child's parent first."
"dependencies": {
    "@react-navigation/bottom-tabs": "^6.0.9",
    "@react-navigation/native": "^6.0.6",
    "@react-navigation/native-stack": "^6.2.5",
    "react": "16.13.1",
    "react-native": "0.63.4",
    "react-native-jitsi-meet": "^2.2.0",
    "react-native-safe-area-context": "^3.3.2",
    "react-native-screens": "^3.10.1"
  },

[2022-01-08 14:15] riyas145 commented on #130
@alexandrtovmach  is that issue fixed?

[2022-01-08 14:23] riyas145 commented on #221
@TarekBaccari Did u fixed that issue?

[2022-01-08 14:24] riyas145 commented on #312
@bortolilucas @g3vxy  not working for latest RN Version please tell me how to fix that issue

[2022-01-08 15:16] bortolilucas commented on #312
Apparently Jitsi Meet SDK only supports RN Version <= 0.63. To fix it, you'll need to downgrade to RN 0.63. You can see the issue here [#10192](https://github.com/jitsi/jitsi-meet/issues/10192)

[2022-01-08 15:35] riyas145 opened #338 "User Info not Updated i'm getting fellow jitster for all users"
User Info not Updated i'm getting fellow jitster for all users

[2022-01-08 18:25] alexandrtovmach commented on #130
Not sure. If you have any idea how to fix that - welcome

[2022-01-09 06:41] saheemhussainchicmic commented on #320
Masha Allah!  May Allah bless you, brother!

[2022-01-16 00:08] minos95 commented on #337
Hi the same issue did you find the solution ??

[2022-01-16 10:54] minos95 commented on #337
hi for the person who has the same issue I found the solution when using navigation you should use switchnavigator instead of stacknavigator to navigate to your meet screen  100% work

[2022-01-16 13:02] minos95 commented on #336
i guess that you are using react navigator and to navigate to your meet screen you are using stacknavigator you should use switchnavigator instead i hope i helped you

[2022-01-16 13:03] minos95 commented on #338
The same issue any solution

[2022-01-16 18:04] minos95 opened #339 "user info doesnt work"
I change the displayName but doesn't change  in the meeting  stay the same User  how can i fix that.
const userInfo = {
        displayName: 'test',
        email: state.email,
        avatar: state.image,
      };

[2022-01-17 12:38] goff-studio opened #340 "featureFlags does not worked on iOS"
Hi, I recently updated to the latest version to use feature flags.
they don't work on iOS.
i tried event disable some features in native, but they are still available. [project cleaned and rebuilt]

[2022-01-18 16:17] dogukan9 opened #341 "Jitsi meet is not working on android"
Hello guys i need your help this is so important for me.
react-native-jitsi-meet is working fine on ios but android have many problems. in debug mode I got just black screen and when ı want to make an release apk with  ./gradlew bundleRelease command I get this issue:

  @react-native-async-storage/async-storage/android/build/.transforms/9dd367dba80f545b4eab970912f96059/transformed/release/com/rea

[2022-01-18 16:22] alihaydar56 commented on #341
I am also struggling with this error please I need help.

[2022-01-19 15:37] dogukan9 opened #342 "onConferenceTerminated is not triggered on android"
Hello guys when ı strart the call I can not finish the call. İos is working fine but android has problams.

"react-native-jitsi-meet": "^2.2.0",
    "react-native": "0.67.0",
can you help me?

[2022-01-19 15:38] alihaydar56 commented on #342
I am also facing with same issue please find a solution :(

[2022-01-19 17:59] dratwas opened #343 "Root cause of Touch and Performance issues"
Hey all, recently I found this library and was about to use it, however, I decided not for some reason. I do not write that you should not use this library. I don't even have an alternative, but you should know how it works and how it affects your applications.

So this library is only a binding for the "native" Jitsi-meet SDK which is here [iOS](https://github.com/jitsi/jitsi-meet/tree/master/ios

[2022-01-20 04:28] paudeldileep commented on #331
can you explain detailed solution. What should i do inorder to make it work?

[2022-01-20 08:51] skrafft commented on #343
Hi @dratwas,

This library is indeed React Native in React Native. Sadly, there are sadly no other choices if you want to use JitsiMeet SDK.
We've been using this solution in production at ibani and Mt Pelerin for 3 years now with no performance or touch issues and have processed around 2000 compliance video calls with customers.

That being said, I agree with you that we could improve the README

[2022-01-20 08:59] #343 closed

[2022-01-20 08:59] skrafft commented on #343
@dratwas done, feel free to submit a PR with further changes to the readme if you think I missed some key items

[2022-01-20 09:43] dgreasi commented on #331
First you need a lib like this to consume the artifacts in a react-native application.

If you want to build the lib yourself (which is the case), to consume your artifacts you will need to override the sources of the react-native-jitsi-meet.

This can be done withing you project.

1) Android at your android/build.gradle
[code]

2) iOS in the end of your Podfile
[code]

Thus with the above lines y

[2022-01-20 10:49] paudeldileep commented on #331
thanks for the info

[2022-01-20 10:49] paudeldileep commented on #331
how do i join a call started by someone else?

[2022-01-20 11:27] vphutane27 commented on #306
I have solved in android by adding PIP support in AndroidManifest.xml

`<activity android:name=".MainActivity"
android:label="@string/app_name" **android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode|smallestScreenSize|screenLayout"
android:supportsPictureInPicture="true"**
android:launchMode="singleTask"
android:windowSoftInputMode="adjustResize" >`

[2022-01-22 16:50] demarte commented on #255
Same issue here!

[2022-01-27 18:08] duartels commented on #338
no solution yet? only on android it happens in my case

[2022-01-29 09:37] riyas145 commented on #343
then what is the solutions ? @skrafft  @dratwas

[2022-01-30 07:28] tuladharjaa commented on #338
In my case too.

[2022-01-31 13:16] minos95 commented on #342
the same issue did you find a solution ?

[2022-01-31 13:18] minos95 commented on #338
don't use the last version use the previews one

[2022-01-31 13:32] riyas145 commented on #338
which version?

[2022-01-31 13:36] minos95 opened #345 "the onConferenceTerminated stay loading even if i use navigation"

[2022-01-31 14:19] minos95 commented on #338
the 2.1.2 version

[2022-02-03 16:38] RicardoDolNL commented on #341
This has all to do with the side-note on the readme. You need to exclude async storage.

Example of build.gradle part:
[code]

[2022-02-03 17:18] RicardoDolNL commented on #320
My screen is also black on android. Running react native version 0.67.2

[2022-02-03 17:36] RicardoDolNL opened #346 "Black screen Android"
My screen stays black on android. I have no errors whatsoever, but JitsiMeetView does not load because the onConferenceWillJoin does also not fire.
I'm on react native 0.67.2

[2022-02-04 10:08] alihaydar56 commented on #341
These ara my packages in my project
[code]

This is my andorid/app/build.gradle file
[code]

And at first time the react-native-jitsi-meet opens ş-in android and screen is black screen but when ı try to join video call it opens the video

[2022-02-04 12:07] alihaydar56 commented on #346
Same issue,did you find any solution for that?

[2022-02-04 12:15] RicardoDolNL commented on #346
Haha no not yet, that's why I created the ticket. But if I find one I'll let you know. But I'm hoping someone here has the solution.

[2022-02-04 12:33] alihaydar56 commented on #346
I hope so bro :) .

[2022-02-04 12:39] RicardoDolNL commented on #341
Like you can see in my previous comment you're missing this line (notice the _async-storage part):
[code]
So to be clear, you need two lines to exclude async storage.

[2022-02-04 12:46] alihaydar56 commented on #341
I have alreaady solve the openning issue,my problem is about black screen as you mentioned above and another issue.I hope someone will find a solution for that.

[2022-02-07 17:36] vphutane27 commented on #346
I had the same issue, it seems related to react native status bar. I was able to solve by adding below code.

[code]

[2022-02-07 21:07] minos95 commented on #338
I think it is not a good idea to install the previous version did you find any other solution?

[2022-02-08 11:52] msaiducar64 commented on #255
Same issue here!

[2022-02-09 08:58] saheemhussainchicmic commented on #255
@msaiducar64 I was able to solve it by generating bundle file again and excluding some packages in app/build.grade from react-native-jitsi-meet implementation.

[2022-02-09 09:55] RicardoDolNL commented on #346
@vphutane27 that didn't work for me. Probably because of what @CharlieJ213 mentioned. This dependency is not compatible with the newest jitsi meet sdk version. That's why I also don't see things like onConferenceWillJoin fire.

@skrafft, do you have any indication as to when you'll be able to update this dependency to use the newest jitsi meet sdk (v4)?

[2022-02-09 11:57] mustafaefdal opened #347 "Buttons not working on only android"
hi, the buttons work on ios but not on android. [8948 ](https://github.com/jitsi/jitsi-meet/issues/8948) I tried the solutions on this page but it doesn't work. Anyone have any other solution?

react version: 17.0.2

react native version: 0.67.2

I created a new project with React native version 0.64.0, but the problem still persists in this version.

[2022-02-09 16:52] jean-ben-guigui opened #348 "Jitsi bug on iOS emulator with RN 0.66.4"
Hi,

I have created a project using "npx react-native init AwesomeProject --version 0.66.4". The project launches and I have no problem.
Then I added react-native-jitsi-meet in the project. I used the CallVideo component from the readMe and I added it to App.js.
I encountered a first problem due to the fact that the `const blacklist = require('metro-config/src/defaults/blacklist');` from the readM

[2022-02-10 06:48] riyas145 commented on #229
is that fixed @farhun

[2022-02-10 07:10] MahmudHasanMenon opened #349 "Could not resolve org.jitsi.react:jitsi-meet-sdk:3.7.0"
I am using jitsi-meet default SDK  [jitsi-meet](https://github.com/jitsi/jitsi-meet/releases/tag/stable%2Fjitsi-meet_6865l) to run into our react-native-jitsi-meet project. SDK build successfully But i am facing error when running Android project using that SDK.

**react-native : 0.63.4
react-native-jitsi-meet: 2.2.0

OS: macOS Big Sur
Node: 17.4.0**

`Could not resolve org.jitsi.react:jitsi-meet-

[2022-02-10 11:31] abnormalbbk commented on #349
![image](https://user-images.githubusercontent.com/5323624/153400439-e87f496c-05b2-41e1-ae68-7ab5e6e14802.png)
You need to add
[code]
in your android build.gradle file

[2022-02-10 12:44] MahmudHasanMenon commented on #349
if i use
[code]
**it works but
 when i use custom SDK build from jitsi-meet code it shows above **error.****
![Screen Shot 2022-02-10 at 6 43 26 pm](https://user-images.githubusercontent.com/29507500/153410902-28f31bfa-4656-4609-b1dc-5d88c7046b29.png)

[2022-02-10 16:56] jean-ben-guigui commented on #348
Thanks for the answer @VitDev17. Could you share how you came to that conclusion?

[2022-02-10 17:38] vphutane27 commented on #346
@RicardoDolNL can you try downgrading version, for me on latest version it was not working

[2022-02-10 22:18] VitDev17 commented on #348
Hi @jean-ben-guigui , i basically started a fresh project from scratch and started testing versions of RN and React. I found out that my app work with RN 0.63.4 and React v17.0.2. I also just find out that with ios 15.2 the jitsi meet doesn't work at all and crashed after splashscreen.
So far i managed to make it run only on iphone 8 with iOS 13.7. But you too understand that is not optimal.

[2022-02-11 08:13] jean-ben-guigui commented on #348
Thanks for sharing your results with me. @skrafft could you tell us which react native version you work with, so that we can be sure to work in a proper environment?

[2022-02-11 10:48] CharlieJ213 commented on #346
I tried on v0.63.1 because other Jitsi Packages were saying it was best to use with v0.59 - v0.64 inclusive but it still didn't work. This package works on iOS for React Native 0.67. I'm convinced it is the Native android code that is messing things up.

The following 2 files use a class called JitsiMeetViewListener that has been deprecated since the Jitsi SDK was upgraded to 3.7.0 in the build.gr

[2022-02-11 10:57] CharlieJ213 commented on #346
Unfortunately, I'm not a native developer. I can read and develop some Java, but not Android. I've been trying, but not getting anywhere useful. The way I have left it at the moment is the JitsiMeetSDK initialises a Native JitsiMeetView, but this means that the on the Javascript side, the `<JitsiMeetView>` component does nothing

[2022-02-11 11:00] alihaydar56 commented on #346
Thanks for your reply. I dont agree JitsiMeetView component does nothing,because at first time it show black screen,but then u try yo start meeting second time,it works fine for android.

[2022-02-11 14:22] jean-ben-guigui commented on #348
Thanks for the quick answer, I managed to make it work on iOS emulator by commenting `use_flipper!()` in the podfile and by adding arm64 in the excluded architectures of the Pods project:
<img width="1293" alt="Screenshot 2022-02-11 at 11 40 24" src="https://user-images.githubusercontent.com/15104156/153577678-f86d5701-487b-4bbe-9d0f-19f49181b41d.png">

The fact that I am running a M1 Mac probably

[2022-02-11 16:25] skrafft commented on #348
For #331, we were able to fix the issue. Disclaimer: the fix is very dirty.

You need to replace some faulty code in the original jitsi meet library:

This is the code we use is this one: sed -i "" 's/l.playTouchSound()//g' index.android.bundle

[2022-02-11 17:38] jean-ben-guigui commented on #348
Okay, sounds great.
I never played with files in the build directory though. Could you explain how I should use that command?

I tried to modify the package.json to add a script `"android": "npx react-native run-android && sed -i \"\" 's/l.playTouchSound()//g' android/app/build/intermediates/merged_assets/debug/out/index.android.bundle",` and then run `npm run android `. If I check in the index.an

[2022-02-13 17:25] skrafft commented on #348
Hi, it cannot be done via npm script because it's too late. It has to be done during the gradle build process.

You need to add the following code at the end of  ```android/app/build.gradle```:

[code]
and create a ```clean.sh``` in the root of your project script. This is the content of mine:

[code]

I hope this helps.

[2022-02-13 17:25] #348 closed

[2022-02-14 03:24] riyas145 commented on #339
any solution @minos95

[2022-02-14 03:25] riyas145 commented on #338
No i didn't did u find any @minos95

[2022-02-14 08:15] jean-ben-guigui commented on #348
Thanks a lot, you're a life saviour. Could you also share the code for the method `runBefore ` used in the script I need to add in `android/app/build.gradle`?

[2022-02-14 09:58] pramod279 commented on #326
Has anyone got any solution to this issue?

[2022-02-14 10:13] tuladharjaa opened #352 "Correct the exclude documentation for @react-native-community/netinfo"
The current documentation contains:
exclude group: 'com.facebook.react',module:'react-native-community_netinfo'

The correct one is:
exclude group: 'com.facebook.react',module:'react-native-community-netinfo'

[2022-02-14 11:26] Th0mYT commented on #338
By verifying the code, the native class *RNJitsiMeetConferenceOptions* has a method called *RNJitsiMeetConferenceOptions*.
This method has this setup:

[code]

This configuration because probably if you need to use Jitsi with authentication the user info will comes from the authenticated user.

However to solve the issue it's enought pass to the JitsiMeet.call the options object with the token att

[2022-02-14 12:12] minos95 commented on #338
@Th0mYT  thanks its works

[2022-02-16 09:04] riyas145 commented on #265
any solutions @skrafft ?

[2022-02-16 09:06] riyas145 commented on #176
@rgbedin  can u please share this code?

[2022-02-16 09:14] riyas145 commented on #338
@Th0mYT  @minos95  are u able to take release build?

[2022-02-16 12:43] Th0mYT commented on #338
Yes! Without any problem for both the platforms.

[2022-02-17 05:04] riyas145 opened #353 "can i use my own custom sdk for this pluign?"
the latest jitsi sdk has react native version 66 so can i make custom sdk maven instead of their official one?

[2022-02-17 13:44] riyas145 commented on #338
@Th0mYT  @minos95  are u able share your screen in jitsi myside there is no response for screen sharing

[2022-02-17 15:52] saheemhussainchicmic commented on #265
Hi again brother!

[2022-02-17 15:54] saheemhussainchicmic commented on #265
Hi again brother!
You tried RN 0.63.4 ? It runs fine there.

[2022-02-17 17:01] riyas145 commented on #265
When I get realase build app get crashed and screen share option not working bro

[2022-02-17 18:52] Th0mYT commented on #338
Honestly I don't know.

I didn't test all the functionalities offered by Jitsi.

Sorry

[2022-02-18 09:28] saheemhussainchicmic commented on #265
I also had the same issue. Can you share the logs in logcat?

[2022-02-18 09:30] riyas145 commented on #265
The log says app bundle not bundled correctly

[2022-02-20 06:21] MahmudHasanMenon commented on #353
I am also interested about this Question. I am also going to implement Latest Jitsi SDK 5.0.0 where RN version is 0.66.4.
But current default support is 3.7.0. How can i connect Latest SDK ?

[2022-02-22 17:27] CharlieJ213 commented on #346
Hello @skrafft any movement on this at all?

[2022-02-22 19:25] MahmudHasanMenon commented on #346
I am also getting the same issue but when i relaod my screen it connect to a meeting. I use < JitsiMeetView> in entry point of React-native project hence i can reload by shaking android device and it works but generally when a screen render it remains black and no error shows.
iOS working fine.
RN version : 0.66.4

[2022-02-22 23:38] rcidt commented on #320
@RicardoDolNL I solved my black screen issue by upgrading to the latest `react-native-safe-area-context`

In you project do `yarn remove react-native-safe-area-context` then `yarn add react-native-safe-area-context`.

Clean and rebuild your app.

[2022-02-22 23:38] rcidt commented on #341
@alihaydar56 try my solution here https://github.com/skrafft/react-native-jitsi-meet/issues/320#issuecomment-1048314074

[2022-02-23 13:37] caglardurmus commented on #303
I have same issue too. How can i do that? I am not using react-native-webrtc package in my project.

[2022-02-23 15:01] caglardurmus commented on #303
used ` exclude group: 'com.facebook.react', module: 'react-native-webrtc'` and i can build it now but i am getting error
` java.lang.ClassNotFoundException: Didn't find class "com.oney.WebRTCModule.WebRTCModule$Options"
`

[2022-02-23 15:10] mubashiralisiddiqui commented on #284
same issue app crash on relase mode

[2022-02-24 14:31] dogankablan commented on #338
Don't work.Same issue

[2022-02-24 21:36] rcidt opened #354 "[IDEA] Should this lib be deprecated in favor of @bortolilucas/react-native-jitsimeet"
Hi @skrafft, there is another Jitsi Meet wrapper for react-native https://github.com/bortolilucas/react-native-jitsimeet

It is very similar to this your wrapper, but it the main difference is that it gives the option of launching Jitsi Meet on a separate Activity/UIViewController on top of the host RN app.

Based on my testing, I believe, this feature solves many of the performance and odd touch-

[2022-02-25 12:32] MahmudHasanMenon commented on #103
@skrafft thanks a lot. You save my time. Actually the name of package was wrong in my case hence when i found the exact name by using this command it works.

[2022-02-26 21:22] aaryavrate commented on #66
I face issue when the JitsiMeetView is loaded

[2022-02-27 07:22] aaryavrate opened #355 "ct-native-jitsi-meet EXC_BAD_ACCESS ios"
I am facing an issue while building for IOS with Jitsi.
The build works file, but I get run-time halt in Xcode for device as well as simulation with EXC_BAD_ACCESS.
The app works fine, if I remove Jitsi.

Thanks in advance.

My Dependencies & Dev Dependies are as:
[code]
 npx react-native --version
warn Package expo-modules-core has been ignored because it contains invalid configuration. Reason: "

[2022-02-27 07:31] aaryavrate commented on #355
Here is the screenshot of crash screen from Xcode
![image](https://user-images.githubusercontent.com/31395247/155873005-da537fe3-bda1-4b8e-b325-739ba6815e89.png)

[2022-02-27 17:41] aaryavrate commented on #355
Here is the reproduction repository https://github.com/aaryavrate/jitsitest

[2022-02-28 11:13] dogankablan commented on #117
It's still a problem for me. Anyone have a solution for this issue?

[2022-02-28 11:17] dogankablan commented on #169
not work

[2022-03-01 05:00] riyas145 commented on #353
any solution @MahmudHasanMenon

[2022-03-02 10:41] dunggnguyen commented on #222
I have same problem, anyone have solution? Thansk so much!

[2022-03-02 12:47] dogankablan commented on #346
I was looking for the solution of this problem for a long time. Today I solved the problem by trying a different way.

node_modules > react-native-jitsi-meet > android > build.gradle

[code]

in its place

[code]

currently working for me.

You may encounter some errors while getting a release. Especially the package that jitsi uses may conflict with the package you use. There is a solution for th

[2022-03-02 12:52] dogankablan commented on #320
I found a solution. It works for me. You can try it.

#346

[2022-03-02 13:19] dogukan9 commented on #346
Thank you for your answer dogan. I tried but  it give me Could not find com.yqritc:android-scalablevideoview:1.0.4 error for the fix it ı add jcenter() but still have black screen

[2022-03-02 14:18] riyas145 commented on #346
Touch screen are working? And are able to get release build ?

[2022-03-02 14:30] dogankablan commented on #346
@riyas145 I did not observe any problems with the touch screen.
I was able to get a release build, but there were some conflicting packages before I did. I exclude those packages .

[2022-03-03 02:18] dunggnguyen opened #357 "TypeError: null is not an object (evaluating 'n.IsAndroid')"
Build file APK its crash when install and open

[code]

[2022-03-03 02:36] dunggnguyen commented on #357
May be relevant with those issue:
https://github.com/zmxv/react-native-sound/issues/753
https://github.com/zmxv/react-native-sound/issues/748

[2022-03-03 03:26] dunggnguyen commented on #357
[Solved] I install codepush with jitsi so config code push wrong cause this issue:
For someone face with this:

https://github.com/facebook/react-native/issues/30622
https://github.com/skrafft/react-native-jitsi-meet/issues/94

[2022-03-05 11:05] alihaydar56 opened #359 "All buttons are not working with android,Does any body know the problem?"

[2022-03-06 09:15] rizbud commented on #359
which react native version are you using?

[2022-03-06 09:21] rizbud commented on #347
have you try with antoher dependency like https://github.com/bortolilucas/react-native-jitsimeet?

[2022-03-06 09:49] rizbud commented on #353
any update?

[2022-03-06 10:31] alihaydar56 commented on #359
my react native version is 0.66.2

[2022-03-08 07:04] riyas-w2s commented on #353
nno

[2022-03-08 07:05] riyas-w2s commented on #354
@rcidt  are able to make release build using that plugin ? app crash when i relase build

[2022-03-08 07:06] rizbud commented on #359
try to downgrade 0.63.x

[2022-03-11 21:18] rcidt commented on #265
I solved this by patching `node_modules/react-native/Libraries/Components/Touchable/Touchable.js` in my `jitsi-meet` fork.

[code]

RN >=0.64 removed this method.

[2022-03-11 21:38] rcidt commented on #265
I solved this by adding this stub in `react/index.native.js`

[code]

The reason Touchables don't work when the host app is running RN 0.64 or greater is because the `playTouchSound` method was removed in 0.64.

[2022-03-11 21:38] rcidt commented on #331
Try this solution https://github.com/skrafft/react-native-jitsi-meet/issues/265#issuecomment-1065550409

[2022-03-14 07:30] ThaungThanHan commented on #325
This is happening to me too. Any solutions?

[2022-03-15 06:38] VickyPatel3366 opened #360 "how to set only join meeting"

[2022-03-15 10:03] #360 closed

[2022-03-24 05:23] thanhlh90it opened #361 "How i know the Chat sceen are opening"
How i know the Chat sceen are opening

[2022-03-24 06:50] saheemhussainchicmic commented on #265
Where is this file located?

[2022-03-24 09:32] riyas145 opened #362 "Please Update this plugin for latest jitsi version 5.0"
Please Update this plugin for latest jitsi version 5.0
@skrafft  @bortolilucas @saghul @jitsi

[2022-03-25 12:04] saheemhussainchicmic commented on #362
I second this idea!

[2022-03-25 12:46] goff-studio commented on #362
up

[2022-03-25 13:39] saheemhussainchicmic commented on #355
@aaryavrate I had the same issue, but figured out that I was actually using wrong version of Xcode the project was build on.

[2022-03-27 06:25] saheem128 opened #364 "Was working fine for android on 0.64.3 until a week ago, but getting this error now "More than one file was found with OS independent path 'lib/arm64-v8a/libturbomodulejsijni.so'""
@skrafft
<img width="1121" alt="Screenshot 2022-03-27 at 11 55 25 AM" src="https://user-images.githubusercontent.com/76215329/160269440-7bfedb16-5ea9-4300-b374-af18e60f396b.png">

[2022-03-27 06:27] saheem128 commented on #364
Tried adding line "**/libturbomodulejsijni.so", builds fine but crashes. @skrafft
My package.json:

[2022-03-27 06:33] saheem128 commented on #364
Tried adding line "**/libturbomodulejsijni.so" in app/build.gradle, builds fine but crashes on start.
My package.json:
"dependencies": {
    "@beratkara/react-native-jitsi-meet": "^1.0.3",
    "@dudigital/react-native-zoomable-view": "^1.1.3",
    "@expo/react-native-action-sheet": "^3.9.0",
    "@miblanchard/react-native-slider": "^2.0.2",
    "@notifee/react-native": "^3.0.0",
    "@react-native

[2022-03-27 10:04] #335 closed

[2022-03-27 12:25] saheem128 commented on #362
@riyas145 Do u get this issue now on 0.63.4 on android? [https://github.com/skrafft/react-native-jitsi-meet/issues/364#issue-1182378941](url)

[2022-03-27 21:16] marcoberetta96 commented on #318
any fix for this?

[2022-03-29 12:24] KrushitaBhanderi opened #365 "Buttons are not working in android"
### package.json

[code]

### gradle.properties

[code]

[2022-03-29 17:07] saheemhussainchicmic commented on #272
@nitis19286 How was the issue solved? I am facing similar issue. Js version: 0.63.4 Native version: 0.66.4

[2022-03-30 12:47] 96Manuel opened #367 "Change title call?"
Is it possible to graphically change the title that is displayed at the start of the call?
![Simulator Screen Shot - iPhone 11 Pro - 2022-03-30 at 14 42 05](https://user-images.githubusercontent.com/51542632/160837670-39e88cbd-5a5e-444e-9164-abaa544b5c85.png)

[2022-03-31 07:52] rizbud commented on #362
i found another one https://github.com/bortolilucas/react-native-jitsimeet/commit/60f1d0fbdb06866fefa695d307bf47d121f0fc54

[2022-04-04 05:52] letaptravek commented on #272
@saheemhussainchicmic Hello, were you able to solve this issue?. I am facing same issue, version
 mismatch JS version 0.63.3 and Native version 0.66.4.

I am facing same issue for any react native version other than 0.66.4.

[2022-04-04 12:12] monikapn commented on #365
Did you get any solution for this issue?

[2022-04-04 12:21] monikapn opened #368 "Touch is not working for JITSI video calling screen buttons."
Buttons are not working in jitsi video call due to below error after touching the call end , mute and other given buttons.

JitsiMeetSDK: [features/app] Error(TypeError){"message":"l.playTouchSound is not a function. (In 'l.playTouchSound()', 'l.playTouchSound' is undefined)","stack":"_playTouchSound@index.android.bundle:213:9252\n_playTouchSound@[native code]\n_performSideEffectsForTransition@ind

[2022-04-04 23:52] gigabyteservice commented on #247
@deepakverma4 do you know to mention local custom build SDK instead of remote maven repo or cocoapods SDK in this mobile app.

[2022-04-05 05:28] monikapn commented on #336
Did anyone get a solution for the issue?

[2022-04-05 05:29] ThaungThanHan commented on #312
It works when I uninstalled reanimated library version 1 or version 2. None of them works. Please help if you have solution because It is not feasible for me to uninstall reanimated library since a lot of libraries are depending on it.

[2022-04-05 05:43] riyas145 commented on #312
@ThaungThanHan  @bortolilucas  Im also facing same issue app get crashed when i use reanimated with any other plugins only jisti then it's working fine

[2022-04-05 06:43] ThaungThanHan commented on #312
@riyas145 True. I even use the same version of reanimated 1.13.3 but no luck so far.

[2022-04-05 07:04] riyas145 commented on #312
Yes same here pls let me know if u found any solution

[2022-04-05 07:18] icc-romeu commented on #312
We finally ended up creating a wrapper over [lib-jitsi-meet](https://github.com/jitsi/lib-jitsi-meet)  The main repo of Jitsi has the needed polyfills. Follow the "index.native.js" and you will find all you need: https://github.com/jitsi/jitsi-meet/tree/master/react

[2022-04-05 07:34] riyas145 commented on #312
@icc-romeu can u please explain this how can I use this into my react native project

[2022-04-05 07:40] icc-romeu commented on #312
TBH I do not have a step by step list but I got information from here:

- https://community.jitsi.org/t/how-to-integrate-the-lib-jitsi-meet-into-react-native-android-app-this-is-my-own-app-not-the-jitsi-meet-android-project/15439/15
- https://github.com/jitsi/lib-jitsi-meet/issues/712

The most important bits are the polyfills (that you have here: https://github.com/jitsi/jitsi-meet/tree/master/re

[2022-04-06 08:40] dfabreguette-ap commented on #368
I've got the same bug after RN upgrade to 0.64.3.
Did you find anything ?

[2022-04-06 12:11] dgreasi commented on #308
Any updates on that?

[2022-04-06 12:17] dfabreguette-ap commented on #265
@duyta7598 I think this one : https://github.com/jitsi/jitsi-meet/blob/master/react/index.native.js

[2022-04-06 12:21] riyas145 commented on #265
@dfabreguette-ap  is that working?

[2022-04-06 12:23] dfabreguette-ap commented on #265
@riyas145 well for now I'm trying to upgrade Jitsi SDK to version 4 - I guess overriding this method would mask the error but won't solve the problem.

[2022-04-06 12:58] monikapn commented on #368
Nope, the same error is there for 0.63.4 and 0.64 as well .

[2022-04-06 13:04] dfabreguette-ap commented on #368
@monikapn looks like RN 0.64 is not supported by JITSI SDK 3+ https://github.com/jitsi/jitsi-meet/issues/10192
You'll have to downgrade RN to 0.63.4 for things to work I guess ...

[2022-04-06 13:23] monikapn commented on #368
I am facing the same issue in RN 0.63.4 for react-native-jitsi-meet 2.2.0, 2.1.2 and 2.1.1 version

[2022-04-06 14:23] dgreasi commented on #308
Found a not so nice workaround for now from another [issue](https://github.com/skrafft/react-native-jitsi-meet/issues/117#issuecomment-636263779).

You will need the following logic.

[code]

Actually you will hide and show the JitsiMeetView for an instance. This will dismiss the persistent loading screen that is over the call.

This works on android only. This is why i added the if statement. If

[2022-04-07 09:23] dogankablan opened #369 "App crashes on Android. Maven url problem."
Hello everyone.

I'm using jitsi with react native. Everything was normal until 1 week ago. I successfully integrated jitsi into my project and was able to use it. However, 1 week ago I wanted to get a build from my project. I got it successfully on Ios.
On the Android part, there was no change in my normally built application, but it started not getting a successful build.
 I overcame that proble

[2022-04-07 14:03] dfabreguette-ap commented on #265
@KolissnikBogdan well it seems upgrading to 4+ maven version breaks the whole app.
There's a weird stripped image at launch and I fall back on reanimated crash.
I had this crash 2 weeks ago has I upgraded expo app to SDK44. I had to downgrade reanimated plugin to v1 to solve this crash but for some reasons, ugprading Jitsi to v4 makes this crash come back. Do you guys use reanimated v2 ?

[2022-04-07 14:04] dfabreguette-ap commented on #265
My only option now is to build from source Jitsi SDK v3 adding @rcidt monkey patch. But it's a lot of work ... and no guarantee at the end.

[2022-04-07 15:37] dfabreguette-ap commented on #265
If it helps, where is the version I built : https://gitlab.com/appliserv-team/jitsimeetsdk-3.10.0

[2022-04-12 05:55] khalilTN opened #370 "com.facebook.react.uimanager.IllegalViewOperationException: ViewManager for tag XXXX could not be found"
Hello,

We are using the 2.1.1 vesion of this library, when performing a call on android device, it crashes instantantely.
On logcat, we have multiple exceptions of this kind

`
       Unable to update properties for view tag 3207
       com.facebook.react.uimanager.IllegalViewOperationException: ViewManager for tag 3207 could not be found.

	at com.facebook.react.uimanager.NativeViewHierarchyMana

[2022-04-12 15:47] goff-studio commented on #369
Do not use their master branch. They updated their react-native version to 0.66.x,
that's why you cannot use their master branch anymore.

use
`url "https://github.com/jitsi/jitsi-maven-repository/raw/bc603d897b4328e839d142f03a8365772ca3dbea/releases"`

instead of
`url "https://github.com/jitsi/jitsi-maven-repository/raw/master/releases"`

[2022-04-12 20:24] dogankablan commented on #369
I tried it and it worked for me. Thanks for your interest man.

[2022-04-12 20:24] #369 closed

[2022-04-13 06:32] goff-studio commented on #364
check here,
I answered
https://github.com/skrafft/react-native-jitsi-meet/issues/369#issuecomment-1096898636

[2022-04-14 05:37] khalilTN commented on #370
Reopening, this is what is logged on logcat when the famous blackscreen android issue is reproduced.

[2022-04-19 06:42] sakismts commented on #346
From what I ve seen the black screen happens cause the createViewInstance inside the RNJitsiMeetViewManager is called after the call function inside the RNJitsiMeetModule. As a result doesnt pass the if null check. A workaround is call the call function after the createViewInstance or use a different logic which already other libraries do.

[2022-04-21 02:34] jdpithwa commented on #346
@sakismts: Could you please provide further details here?

[2022-04-21 02:54] jdpithwa commented on #117
@dogankablan @fritzfr : I have tried your solution to add timeout, but it won't work for me. Does anyone has other solutions?

[2022-04-25 20:43] jdpithwa commented on #346
@skrafft : Any update on this? as we have to release our product to market. it would be great if you can provide solution as soon as possible.

[2022-04-25 20:51] jdpithwa commented on #339
@minos95 : I am also facing same issue. could anyone help here?

[2022-04-26 11:54] JeffinJ opened #372 "module 'react-native-jitsi-meet' not found in TypeScript ReactNative project."
![image](https://user-images.githubusercontent.com/43229143/165294313-27987361-2dcc-4d65-b080-91972fe897ff.png)
![image](https://user-images.githubusercontent.com/43229143/165294422-fb6af4a1-0c77-4a36-a8b3-78d2fbbab1e2.png)

Versions used:
    "react": "17.0.2",
    "react-native": "0.68.1",
    "react-native-jitsi-meet": "^2.2.0",

[2022-04-30 16:06] TacticCoder commented on #372
same here

[2022-05-01 01:24] hamzawaleed0102 commented on #265
@dfabreguette-ap repo link isn't accessible - 404.

[2022-05-05 08:00] dfabreguette-ap commented on #265
@hamzawaleed0102 I had to push it to Github, project has been locked to private mode.
https://github.com/dfabreguette-ap/jitsimeetsdk-3.10.0

[2022-05-05 08:03] dfabreguette-ap commented on #265
@hamzawaleed0102 Be aware that I had a problem pushing this code in release mode to Android Google PlayStore.
Looks like in release mode, my app is crashing. I didn't have time to investigate the problem - I'll have a look into it soon?

[2022-05-12 12:25] dfabreguette-ap opened #375 "Android + Expo + React Native causing : FATAL EXCEPTION: mqt_native_modules"
Hi,
Since a recent update to expo 44, JitsiMeet SDK won't launch on android devices, getting this crash :

https://gist.github.com/dfabreguette-ap/20fedf4fc3c53d624a1632bbe650a009

Description:
As my JitsiMeetView component is getting initialized through RNJitsiMeetView, I end up with this crash in release variant mode.

I'm using https://github.com/skrafft/react-native-jitsi-meet npm package.

St

[2022-05-12 18:42] MahmudHasanMenon commented on #355
Which Xcode version you used when facing that issue and how can you fix it??

[2022-05-12 18:44] MahmudHasanMenon commented on #355
@saheemhussainchicmic  Which Xcode version you used when facing that issue and how can you fix it??

[2022-05-15 06:05] TacticCoder commented on #312
Same here

[2022-05-17 13:43] Marinaarimany commented on #265
I don't want to go through your repository I think there must be another solution if possible

[2022-05-17 13:56] dfabreguette-ap commented on #265
I think there isn't, unless you can upgrade either ReacNative or JitsiMeetSDK ... I ran into this a few weeks ago, and I'm still stuck with it because of Expo compatibility issues with latests versions of RN.

[2022-05-17 15:23] Marinaarimany commented on #359
I'm using react-native version 0.63.3 and I also have this problem :/

[2022-05-18 05:52] simgill commented on #255
Same issue here!

[2022-05-19 12:43] vasudevjogani opened #376 "in Android 12 OS not working"
Project SDK version :
Target SDk version = 31

[2022-05-21 16:26] MahmudHasanMenon commented on #117
I downgrade react-native-reanimated to v1.13.3 and the black screen issue resolved for me. Don't know why but i investigate jitsi codebase and found there was react-native-reanimated version v1.13.3.
Anyone can try this solution.

[2022-05-21 16:28] MahmudHasanMenon commented on #346
I downgrade react-native-reanimated to v1.13.3 and the black screen issue resolved for me. Don't know why but i investigate jitsi codebase and found there was react-native-reanimated version v1.13.3.
Anyone can try this solution.

[2022-05-21 16:29] MahmudHasanMenon commented on #320
I am also using RN version 0.66.4.
I downgrade react-native-reanimated to v1.13.3 and the black screen issue resolved for me. Don't know why but i investigate jitsi codebase and found there was react-native-reanimated version v1.13.3.
Anyone can try this solution.

[2022-05-21 16:29] MahmudHasanMenon commented on #169
I am using RN version 0.66.4.
I downgrade react-native-reanimated to v1.13.3 and the black screen issue resolved for me. Don't know why but i investigate jitsi codebase and found there was react-native-reanimated version v1.13.3.
Anyone can try this solution.

[2022-05-25 00:06] minhajul-islam opened #377 "JitsiMeetUncaughtExceptionHandler FATAL ERROR"
"react": "17.0.2",
"react-native": "0.68.1",
----------------------------------------------------------------------------------------------------

FATAL EXCEPTION: create_react_context
    Process: com.classroom, PID: 14619
    java.lang.NoClassDefFoundError: com.facebook.react.jscexecutor.JSCExecutor
        at com.facebook.react.jscexecutor.JSCExecutorFactory.create(JSCExecutorFactory.java:29)

[2022-05-25 12:12] Mohadese267 opened #378 "Recording Jitsi meeting"
As far as I remember we could record meetings in android client and save it on Dropbox , isn't it available anymore? 8*8 doesn't support it

[2022-05-25 16:29] jensonjohn001 commented on #353
+1

[2022-05-26 14:16] zhenghow93 commented on #161
I'm having the same issue with Android.
Had to restart metro bundler (for debug build)
or
clear app cache (for release build)
in order for the new feature flag to take effect.
Still trying hard to find out the cause. =(

It works perfectly fine with iOS though.

[2022-05-28 11:22] ajmalbinansari commented on #272
@saheemhussainchicmic  @letaptravek  Hi, have you solved this issue. I am facing the same one. JS version 0.64.2 & Native version 0.68.1. I cannot really update my RN version right now. Any solutions?

[2022-06-05 18:03] aaryavrate commented on #319
Now RN 0.68 is out. Are we still supposed to use RN 0.62 for this library?

[2022-06-05 18:53] TacticCoder commented on #319
You can use this library
https://www.npmjs.com/package/@vidit-me/react-native-jitsi-meet

[2022-06-05 19:45] asfopoo commented on #308
Was having the same issue on ios, was able to use your method, but I placed the logic inside a useEffect

[code]

[2022-06-06 10:06] whitmanlui commented on #355
I had the same issue, how can you fix?

[2022-06-06 10:11] saheemhussainchicmic commented on #355
I eventually ended up using Xcode 12.0 to solve this issue for my project.

[2022-06-06 10:41] whitmanlui commented on #355
Is there any other way to fix it?

[2022-06-06 13:11] Marinaarimany opened #380 "Screen sharing - Android"
Hello everyone,
has anyone managed to use screen sharing here?
I have this error message when I want to launch it on Android:

'ERROR creating ScreeSharing stream ', [gum.screensharing_user_canceled: User canceled screen sharing prompt]

I use:
"react-native-jitsi-meet": "^2.2.0",
"react-native": "0.63.4",
and
url "https://github.com/jitsi/jitsi-maven-repository/raw/bc603d897b4328e839d142f03a83657

[2022-06-06 14:05] Marinaarimany commented on #322
You have found a solution ?

[2022-06-06 15:44] MahmudHasanMenon commented on #349
I fixed the error. I changed to `org.jitsi.react:jitsi-meet-sdk:5.0.0` from `org.jitsi.react:jitsi-meet-sdk:3.7.0` in my `node_modules -> react-native-jitsi-meet -> android -> build.gradle` file.

[2022-06-06 15:45] #349 closed

[2022-06-06 23:12] asfopoo commented on #354
That project has just been depracated

[2022-06-07 09:39] Mo1otow commented on #202
I have same issue. Have any solution?

I've tested all solutions from this issue, but it's not working for me...

[2022-06-08 12:48] Marinaarimany commented on #369
Are you using screen sharing on this branch? It doesn't work for me :/

https://github.com/skrafft/react-native-jitsi-meet/issues/380

If you can help me please

Thank you

[2022-06-10 15:04] katinc commented on #147
Hey @Lorenalgm , i know it's been a while but can you share how you resolved the original issue.
Thanks.